<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="costumetrade.product.mapper.ScPromotionalProductMapper">
  <resultMap id="BaseResultMap" type="costumetrade.product.domain.ScPromotionalProduct">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="promoter_storeid" jdbcType="VARCHAR" property="promoterStoreid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="promoter_photo" jdbcType="VARCHAR" property="promoterPhoto" />
    <result column="product_ids" jdbcType="VARCHAR" property="productIds" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="recommended_id" jdbcType="VARCHAR" property="recommendedId" />
    <result column="promoter_name" jdbcType="VARCHAR" property="promoterName" />
    <result column="checkAllTag" jdbcType="BIT" property="checkAllTag" />
    <result column="promoter_address" jdbcType="VARCHAR" property="promoterAddress" />
    <result column="product_images" jdbcType="VARCHAR" property="productImages" />
    <result column="share_type" jdbcType="VARCHAR" property="shareType" />
    <result column="share_employee" jdbcType="VARCHAR" property="shareEmployee" />
    <result column="read_status" jdbcType="VARCHAR" property="readStatus" />
    <result column="read_time" jdbcType="TIMESTAMP" property="readTime" />
    <result column="read_count" jdbcType="INTEGER" property="readCount" />
    <result column="noReadCount" jdbcType="DECIMAL" property="noReadCount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, promoter_storeid, title, promoter_photo, product_ids, create_by, create_time, 
    recommended_id, promoter_name, checkAllTag, promoter_address, product_images, share_type, 
    share_employee, read_status, read_time,read_count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sc_promotional_product
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="getAllPromotionals"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sc_promotional_product
    where 1=1
     <if test="product.promoterStoreid != null">
      and  promoter_storeid = #{product.promoterStoreid,jdbcType=VARCHAR}
      </if>
      <if test="product.promoterPhoto != null">
       and promoter_photo = #{product.promoterPhoto,jdbcType=VARCHAR}
      </if>
      <if test="product.productIds != null">
       and product_ids = #{product.productIds,jdbcType=VARCHAR}
      </if>
      <if test="product.recommendedId != null">
       and recommended_id = #{product.recommendedId,jdbcType=VARCHAR}
      </if>
      <if test="product.promoterName != null">
       and promoter_name = #{product.promoterName,jdbcType=VARCHAR}
      </if>
      <if test="product.shareType != null">
       and share_type = #{product.shareType,jdbcType=VARCHAR}
      </if>
      <if test="product.shareEmployee != null">
       and share_employee = #{product.shareEmployee,jdbcType=VARCHAR}
      </if>
      <if test="product.readStatus != null">
       and read_status = #{product.readStatus,jdbcType=VARCHAR}
      </if>
      <if test="product.readTime != null">
       and read_time = #{product.readTime,jdbcType=TIMESTAMP}
      </if>
    	order by create_time desc
      <if test="page != null">
		LIMIT #{page.startRow},#{page.pageSize}
	  </if>
  </select>
  
    <select id="getGroupPromotionals"  resultMap="BaseResultMap">
    select 
    id, promoter_storeid, title, promoter_photo, product_ids, max(create_time) create_time, 
    recommended_id, promoter_name, checkAllTag, promoter_address, product_images, share_type, 
    share_employee, sum(case when read_status = 0 then 1 else 0 end) noReadCount, read_status
    from sc_promotional_product
    where 1=1
    and recommended_id is not null
     <if test="product.promoterStoreid != null">
      and  promoter_storeid = #{product.promoterStoreid,jdbcType=VARCHAR}
      </if>
      <if test="product.promoterPhoto != null">
       and promoter_photo = #{product.promoterPhoto,jdbcType=VARCHAR}
      </if>
      <if test="product.productIds != null">
       and product_ids = #{product.productIds,jdbcType=VARCHAR}
      </if>
      <if test="product.recommendedId != null">
       and recommended_id = #{product.recommendedId,jdbcType=VARCHAR}
      </if>
      <if test="product.promoterName != null">
       and promoter_name = #{product.promoterName,jdbcType=VARCHAR}
      </if>
      <if test="product.shareType != null">
       and share_type = #{product.shareType,jdbcType=VARCHAR}
      </if>
      <if test="product.shareEmployee != null">
       and share_employee = #{product.shareEmployee,jdbcType=VARCHAR}
      </if>
      <if test="product.readStatus != null">
       and read_status = #{product.readStatus,jdbcType=VARCHAR}
      </if>
      <if test="product.readTime != null">
       and read_time = #{product.readTime,jdbcType=TIMESTAMP}
      </if>
    	group by promoter_storeid
      <if test="page != null">
		LIMIT #{page.startRow},#{page.pageSize}
	  </if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sc_promotional_product
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  
   <insert id="inserts" >
    insert into sc_promotional_product (id, promoter_storeid, title, 
      promoter_photo, product_ids, create_by, 
      create_time, recommended_id, promoter_name, 
      checkAllTag, promoter_address, product_images, 
      share_type, share_employee, read_status, 
      read_time,read_count)
    values <foreach collection="list" index="index" item="item" separator=","> (#{item.id,jdbcType=VARCHAR}, #{item.promoterStoreid,jdbcType=VARCHAR}, #{item.title,jdbcType=VARCHAR}, 
      #{item.promoterPhoto,jdbcType=VARCHAR}, #{item.productIds,jdbcType=VARCHAR}, #{item.createBy,jdbcType=VARCHAR}, 
      #{item.createTime,jdbcType=TIMESTAMP}, #{item.recommendedId,jdbcType=VARCHAR}, #{item.promoterName,jdbcType=VARCHAR}, 
      #{item.checkAllTag,jdbcType=BIT}, #{item.promoterAddress,jdbcType=VARCHAR}, #{item.productImages,jdbcType=VARCHAR}, 
      #{item.shareType,jdbcType=VARCHAR}, #{item.shareEmployee,jdbcType=VARCHAR}, #{item.readStatus,jdbcType=VARCHAR}, 
      #{item.readTime,jdbcType=TIMESTAMP},#{item.readCount})</foreach>
  </insert>
  
  <insert id="insert" parameterType="costumetrade.product.domain.ScPromotionalProduct">
    insert into sc_promotional_product (id, promoter_storeid, title, 
      promoter_photo, product_ids, create_by, 
      create_time, recommended_id, promoter_name, 
      checkAllTag, promoter_address, product_images, 
      share_type, share_employee, read_status, 
      read_time,read_count)
    values (#{id,jdbcType=VARCHAR}, #{promoterStoreid,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{promoterPhoto,jdbcType=VARCHAR}, #{productIds,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{recommendedId,jdbcType=VARCHAR}, #{promoterName,jdbcType=VARCHAR}, 
      #{checkAllTag,jdbcType=BIT}, #{promoterAddress,jdbcType=VARCHAR}, #{productImages,jdbcType=VARCHAR}, 
      #{shareType,jdbcType=VARCHAR}, #{shareEmployee,jdbcType=VARCHAR}, #{readStatus,jdbcType=VARCHAR}, 
      #{readTime,jdbcType=TIMESTAMP},#{readCount})
  </insert>
  <insert id="insertSelective" parameterType="costumetrade.product.domain.ScPromotionalProduct">
    insert into sc_promotional_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="promoterStoreid != null">
        promoter_storeid,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="promoterPhoto != null">
        promoter_photo,
      </if>
      <if test="productIds != null">
        product_ids,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="recommendedId != null">
        recommended_id,
      </if>
      <if test="promoterName != null">
        promoter_name,
      </if>
      <if test="checkAllTag != null">
        checkAllTag,
      </if>
      <if test="promoterAddress != null">
        promoter_address,
      </if>
      <if test="productImages != null">
        product_images,
      </if>
      <if test="shareType != null">
        share_type,
      </if>
      <if test="shareEmployee != null">
        share_employee,
      </if>
      <if test="readStatus != null">
        read_status,
      </if>
      <if test="readTime != null">
        read_time,
      </if>
      <if test="readCount != null">
        read_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="promoterStoreid != null">
        #{promoterStoreid,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="promoterPhoto != null">
        #{promoterPhoto,jdbcType=VARCHAR},
      </if>
      <if test="productIds != null">
        #{productIds,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recommendedId != null">
        #{recommendedId,jdbcType=VARCHAR},
      </if>
      <if test="promoterName != null">
        #{promoterName,jdbcType=VARCHAR},
      </if>
      <if test="checkAllTag != null">
        #{checkAllTag,jdbcType=BIT},
      </if>
      <if test="promoterAddress != null">
        #{promoterAddress,jdbcType=VARCHAR},
      </if>
      <if test="productImages != null">
        #{productImages,jdbcType=VARCHAR},
      </if>
      <if test="shareType != null">
        #{shareType,jdbcType=VARCHAR},
      </if>
      <if test="shareEmployee != null">
        #{shareEmployee,jdbcType=VARCHAR},
      </if>
      <if test="readStatus != null">
        #{readStatus,jdbcType=VARCHAR},
      </if>
      <if test="readTime != null">
        #{readTime,jdbcType=TIMESTAMP},
      </if>
      <if test="readCount != null">
        #{readCount},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="costumetrade.product.domain.ScPromotionalProduct">
    update sc_promotional_product
    <set>
      <if test="promoterStoreid != null">
        promoter_storeid = #{promoterStoreid,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="promoterPhoto != null">
        promoter_photo = #{promoterPhoto,jdbcType=VARCHAR},
      </if>
      <if test="productIds != null">
        product_ids = #{productIds,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recommendedId != null">
        recommended_id = #{recommendedId,jdbcType=VARCHAR},
      </if>
      <if test="promoterName != null">
        promoter_name = #{promoterName,jdbcType=VARCHAR},
      </if>
      <if test="checkAllTag != null">
        checkAllTag = #{checkAllTag,jdbcType=BIT},
      </if>
      <if test="promoterAddress != null">
        promoter_address = #{promoterAddress,jdbcType=VARCHAR},
      </if>
      <if test="productImages != null">
        product_images = #{productImages,jdbcType=VARCHAR},
      </if>
      <if test="shareType != null">
        share_type = #{shareType,jdbcType=VARCHAR},
      </if>
      <if test="shareEmployee != null">
        share_employee = #{shareEmployee,jdbcType=VARCHAR},
      </if>
      <if test="readStatus != null">
        read_status = #{readStatus,jdbcType=VARCHAR},
      </if>
      <if test="readTime != null">
        read_time = #{readTime,jdbcType=TIMESTAMP},
      </if>
      <if test="readCount != null">
        read_count = #{readCount},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="costumetrade.product.domain.ScPromotionalProduct">
    update sc_promotional_product
    set promoter_storeid = #{promoterStoreid,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      promoter_photo = #{promoterPhoto,jdbcType=VARCHAR},
      product_ids = #{productIds,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      recommended_id = #{recommendedId,jdbcType=VARCHAR},
      promoter_name = #{promoterName,jdbcType=VARCHAR},
      checkAllTag = #{checkAllTag,jdbcType=BIT},
      promoter_address = #{promoterAddress,jdbcType=VARCHAR},
      product_images = #{productImages,jdbcType=VARCHAR},
      share_type = #{shareType,jdbcType=VARCHAR},
      share_employee = #{shareEmployee,jdbcType=VARCHAR},
      read_status = #{readStatus,jdbcType=VARCHAR},
      read_time = #{readTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>