<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="costumetrade.user.mapper.ScWeChatMapper">
  <resultMap id="BaseResultMap" type="costumetrade.user.domain.ScWeChat">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="openId" jdbcType="VARCHAR" property="openid" />
    <result column="storeId" jdbcType="VARCHAR" property="storeid" />
    <result column="empId" jdbcType="VARCHAR" property="empid" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="createBy" jdbcType="VARCHAR" property="createby" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
    <result column="unionid" jdbcType="VARCHAR" property="unionid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, openId, storeId, empId, createTime, createBy, userId,unionid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sc_wechat_bind
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByOpenId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sc_wechat_bind
    where openId = #{openid,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByUnionid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sc_wechat_bind
    where unionid = #{unionid,jdbcType=VARCHAR}
  </select>
  
   <select id="selectWechat" parameterType="costumetrade.user.domain.ScWeChat" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sc_wechat_bind
    where 1=1
    <if test="storeid!=null">
    and storeId = #{storeid,jdbcType=VARCHAR}
    </if>
    <if test="buyyer!=null">
    and (storeId = #{buyyer,jdbcType=VARCHAR} or userId = #{buyyer})
    </if>
    <if test="unionid !=null">
    and unionid = #{unionid,jdbcType=VARCHAR}
    </if>
    <if test="openid !=null">
    and openId = #{openid,jdbcType=VARCHAR}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sc_wechat_bind
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="costumetrade.user.domain.ScWeChat">
    insert into sc_wechat_bind (id, openId, storeId, 
      empId, createTime, createBy, 
      userId,unionid)
    values (#{id,jdbcType=INTEGER}, #{openid,jdbcType=VARCHAR}, #{storeid,jdbcType=VARCHAR}, 
      #{empid,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{createby,jdbcType=VARCHAR}, 
      #{userid,jdbcType=VARCHAR},#{unionid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="costumetrade.user.domain.ScWeChat">
  	<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() AS id
	</selectKey>
    insert into sc_wechat_bind
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="openid != null">
        openId,
      </if>
      <if test="storeid != null">
        storeId,
      </if>
      <if test="empid != null">
        empId,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="createby != null">
        createBy,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="unionid != null">
        unionid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="storeid != null">
        #{storeid,jdbcType=VARCHAR},
      </if>
      <if test="empid != null">
        #{empid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null">
        #{unionid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="costumetrade.user.domain.ScWeChat">
    update sc_wechat_bind
    <set>
      <if test="openid != null">
        openId = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="storeid != null">
        storeId = #{storeid,jdbcType=VARCHAR},
      </if>
      <if test="empid != null">
        empId = #{empid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        createBy = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null">
        unionid = #{unionid,jdbcType=VARCHAR},
      </if>
    </set>
    where 1=1
    <if test="id!=null">
   and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="openid != null">
    and openId = #{openid,jdbcType=VARCHAR}
    </if>
  </update>
  <update id="updateByPrimaryKey" parameterType="costumetrade.user.domain.ScWeChat">
    update sc_wechat_bind
    set openId = #{openid,jdbcType=VARCHAR},
      storeId = #{storeid,jdbcType=VARCHAR},
      empId = #{empid,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      createBy = #{createby,jdbcType=VARCHAR},
      unionid = #{unionid,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>