<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="costumetrade.order.mapper.SpClientMapper">
  <resultMap id="BaseResultMap" type="costumetrade.order.domain.SpClient">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="storeId" jdbcType="INTEGER" property="storeid" />
    <result column="prodLevels" jdbcType="VARCHAR" property="prodlevels" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="cate" jdbcType="VARCHAR" property="cate" />
    <result column="fastcode" jdbcType="VARCHAR" property="fastcode" />
    <result column="vipcard" jdbcType="VARCHAR" property="vipcard" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="cardid" jdbcType="VARCHAR" property="cardid" />
    <result column="birthdate" jdbcType="TIMESTAMP" property="birthdate" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="fax" jdbcType="VARCHAR" property="fax" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="district" jdbcType="VARCHAR" property="district" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="blank" jdbcType="VARCHAR" property="blank" />
    <result column="blank_id" jdbcType="VARCHAR" property="blankId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="modify_by" jdbcType="VARCHAR" property="modifyBy" />
  </resultMap>
   <sql id="Base_Column_List">
    id, storeId, prodLevels, 
      type, cate, fastcode, 
      vipcard, contact, image, 
      cardid, birthdate, phone, 
      telephone, fax, email, 
      region, province, city, 
      district, address, blank, 
      blank_id, create_time, create_by, 
      modify_time, modify_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sp_client
    where id = #{clientId,jdbcType=INTEGER}
  </select>
  
  <insert id="insert" parameterType="costumetrade.order.domain.SpClient">
    insert into sp_client (id, storeId, prodLevels, 
      type, cate, fastcode, 
      vipcard, contact, image, 
      cardid, birthdate, phone, 
      telephone, fax, email, 
      region, province, city, 
      district, address, blank, 
      blank_id, create_time, create_by, 
      modify_time, modify_by)
    values (#{id,jdbcType=INTEGER}, #{storeid,jdbcType=INTEGER}, #{prodlevels,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{cate,jdbcType=VARCHAR}, #{fastcode,jdbcType=VARCHAR}, 
      #{vipcard,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, 
      #{cardid,jdbcType=VARCHAR}, #{birthdate,jdbcType=TIMESTAMP}, #{phone,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{region,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{district,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{blank,jdbcType=VARCHAR}, 
      #{blankId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{modifyBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="costumetrade.order.domain.SpClient">
    insert into sp_client
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="storeid != null">
        storeId,
      </if>
      <if test="prodlevels != null">
        prodLevels,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="cate != null">
        cate,
      </if>
      <if test="fastcode != null">
        fastcode,
      </if>
      <if test="vipcard != null">
        vipcard,
      </if>
      <if test="contact != null">
        contact,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="cardid != null">
        cardid,
      </if>
      <if test="birthdate != null">
        birthdate,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="fax != null">
        fax,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="region != null">
        region,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="district != null">
        district,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="blank != null">
        blank,
      </if>
      <if test="blankId != null">
        blank_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="modifyBy != null">
        modify_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="storeid != null">
        #{storeid,jdbcType=INTEGER},
      </if>
      <if test="prodlevels != null">
        #{prodlevels,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="cate != null">
        #{cate,jdbcType=VARCHAR},
      </if>
      <if test="fastcode != null">
        #{fastcode,jdbcType=VARCHAR},
      </if>
      <if test="vipcard != null">
        #{vipcard,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="cardid != null">
        #{cardid,jdbcType=VARCHAR},
      </if>
      <if test="birthdate != null">
        #{birthdate,jdbcType=TIMESTAMP},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null">
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="blank != null">
        #{blank,jdbcType=VARCHAR},
      </if>
      <if test="blankId != null">
        #{blankId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null">
        #{modifyBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>