<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="costumetrade.user.mapper.SpEmployeeMapper">
  <resultMap id="BaseResultMap" type="costumetrade.user.domain.SpEmployee">
  	<id column="id" jdbcType="INTEGER" property="id" />
    <result column="storeId" jdbcType="INTEGER" property="storeId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="modify_by" jdbcType="VARCHAR" property="modifyBy" />
    <result column="reallyName" jdbcType="VARCHAR" property="reallyName" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="phoneBack" jdbcType="VARCHAR" property="phoneBack" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="addressBack" jdbcType="VARCHAR" property="addressBack" />
    <result column="birthdate" jdbcType="TIMESTAMP" property="birthdate" />
    <result column="nickName" jdbcType="VARCHAR" property="nickName" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="weChatNo" jdbcType="VARCHAR" property="weChatNo" />
    <result column="discount" jdbcType="DECIMAL" property="discount" />
    <result column="zeroPrice" jdbcType="DECIMAL" property="zeroPrice" />
    <result column="modifyPrice" jdbcType="VARCHAR" property="modifyPrice" />
  </resultMap>
  <sql id="Base_Column_List">
    storeId, id, status,  create_time, create_by, modify_time, modify_by,image, 
    reallyName, openid, phoneBack, telephone, address, addressBack, birthdate, nickName,discount,zeroPrice,weChatNo,modifyPrice
  </sql>
  <select id="selectByPrimaryKey" parameterType="costumetrade.user.domain.SpEmployee" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sp_employee
    where 1=1
     <if test="storeId != null">
       and storeId = #{storeId,jdbcType=INTEGER}
      </if>
     <if test="id != null">
      and id = #{id,jdbcType=INTEGER}
      </if>
     <if test="openid != null">
      and openid = #{openid,jdbcType=INTEGER}
      </if>
  </select>
  <select id="getAllEmployees" parameterType="String"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sp_employee
    where 
 	storeId = #{storeId,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="costumetrade.user.domain.SpEmployee">
    delete from sp_employee
    where storeId = #{storeId,jdbcType=INTEGER}
      <if test="id != null">
      and id = #{id,jdbcType=INTEGER}
      </if>
  </delete>
  <insert id="insert" parameterType="costumetrade.user.domain.SpEmployee"  useGeneratedKeys="true" keyProperty="id">
    insert into sp_employee (storeId, status, 
       create_time, create_by, 
      modify_time, modify_by, 
      reallyName, openid, phoneBack, 
      telephone, address, addressBack, 
      birthdate, nickName,discount,zeroPrice,weChatNo,modifyPrice)
    values (#{storeId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{modifyBy,jdbcType=VARCHAR}, 
      #{reallyName,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, #{phoneBack,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{addressBack,jdbcType=VARCHAR}, 
      #{birthdate,jdbcType=TIMESTAMP}, #{nickName,jdbcType=VARCHAR}, #{discount,jdbcType=DECIMAL}, #{zeroPrice,jdbcType=DECIMAL}, #{weChatNo,jdbcType=VARCHAR},
      #{modifyPrice,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="costumetrade.user.domain.SpEmployee" useGeneratedKeys="true" keyProperty="id">
    insert into sp_employee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="storeId != null">
        storeId,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="status != null">
        status,
      </if>
    
   
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="modifyBy != null">
        modify_by,
      </if>
      <if test="reallyName != null">
        reallyName,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="phoneBack != null">
        phoneBack,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="addressBack != null">
        addressBack,
      </if>
      <if test="birthdate != null">
        birthdate,
      </if>
      <if test="nickName != null">
        nickName,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="zeroPrice != null">
        zeroPrice,
      </if>
      <if test="weChatNo != null">
        weChatNo,
      </if>
      <if test="modifyPrice != null">
        modifyPrice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="storeId != null">
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null">
        #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="reallyName != null">
        #{reallyName,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="phoneBack != null">
        #{phoneBack,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="addressBack != null">
        #{addressBack,jdbcType=VARCHAR},
      </if>
      <if test="birthdate != null">
        #{birthdate,jdbcType=TIMESTAMP},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=DECIMAL},
      </if>
      <if test="zeroPrice != null">
        #{zeroPrice,jdbcType=DECIMAL},
      </if>
      <if test="weChatNo != null">
        #{weChatNo,jdbcType=VARCHAR},
      </if>
      <if test="modifyPrice != null">
        #{modifyPrice,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="costumetrade.user.domain.SpEmployee">
    update sp_employee
    <set>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
     
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null">
        modify_by = #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="reallyName != null">
        reallyName = #{reallyName,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="phoneBack != null">
        phoneBack = #{phoneBack,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="addressBack != null">
        addressBack = #{addressBack,jdbcType=VARCHAR},
      </if>
      <if test="birthdate != null">
        birthdate = #{birthdate,jdbcType=TIMESTAMP},
      </if>
      <if test="nickName != null">
        nickName = #{nickName,jdbcType=VARCHAR},
      </if>
        <if test="discount != null">
       discount = #{discount,jdbcType=DECIMAL},
      </if>
      <if test="zeroPrice != null">
        zeroPrice =#{zeroPrice,jdbcType=DECIMAL},
      </if>
      <if test="weChatNo != null">
        weChatNo =#{weChatNo,jdbcType=VARCHAR},
      </if>
      <if test="modifyPrice != null">
        modifyPrice =#{modifyPrice,jdbcType=VARCHAR},
      </if>
    </set>
    where storeId = #{storeId,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="costumetrade.user.domain.SpEmployee">
    update sp_employee
    set status = #{status,jdbcType=INTEGER},
     
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_by = #{modifyBy,jdbcType=VARCHAR},
      reallyName = #{reallyName,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      phoneBack = #{phoneBack,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      addressBack = #{addressBack,jdbcType=VARCHAR},
      birthdate = #{birthdate,jdbcType=TIMESTAMP},
      modifyPrice =#{modifyPrice,jdbcType=VARCHAR},
      weChatNo =#{weChatNo,jdbcType=VARCHAR},
      zeroPrice =#{zeroPrice,jdbcType=DECIMAL},
      discount = #{discount,jdbcType=DECIMAL},
      nickName = #{nickName,jdbcType=VARCHAR}
      
    where storeId = #{storeId,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </update>
</mapper>