<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="costumetrade.order.mapper.SpPBrandMapper">
  <resultMap id="BaseResultMap" type="costumetrade.order.domain.SpPBrand">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="storeId" jdbcType="INTEGER" property="storeId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="brandName" jdbcType="VARCHAR" property="brandname" />
    <result column="fastcode" jdbcType="VARCHAR" property="fastcode" />
    <result column="profit_d0" jdbcType="DECIMAL" property="profitD0" />
    <result column="profit_d1" jdbcType="DECIMAL" property="profitD1" />
    <result column="profit_d2" jdbcType="DECIMAL" property="profitD2" />
    <result column="profit_d3" jdbcType="DECIMAL" property="profitD3" />
    <result column="profit_d4" jdbcType="DECIMAL" property="profitD4" />
    <result column="profit_d5" jdbcType="DECIMAL" property="profitD5" />
    <result column="profit_precise" jdbcType="DECIMAL" property="profitPrecise" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="modify_by" jdbcType="VARCHAR" property="modifyBy" />
  </resultMap>
   <sql id="Base_Column_List">
    id, brandName, storeId,status, fastcode,profit_d0,profit_d1,profit_d2,profit_d3,profit_d4,profit_d5,profit_precise, create_time, create_by, modify_time, modify_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sp_pbrand
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getSpPBrands"  resultMap="BaseResultMap">
    select id, brandName, storeId,profit_d0
    from sp_pbrand
    where storeId = #{storeId,jdbcType=INTEGER}
	and status =0
  </select>
  <select id="getSpPBrand"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sp_pbrand
    where storeId = #{storeId,jdbcType=INTEGER}
    and id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getSpPBrandByName"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sp_pbrand
    where storeId = #{storeId,jdbcType=INTEGER}
    and brandName = #{brandname,jdbcType=VARCHAR}
  </select>
  <update id="deleteByPrimaryKey" parameterType="List">
    update  sp_pbrand set status = 1
    where id in <foreach collection="ids" index="index" item="item" separator="," open="(" close=")">#{item,jdbcType=INTEGER}</foreach>
  </update>
  
  
  <insert id="insert" parameterType="costumetrade.order.domain.SpPBrand" useGeneratedKeys="true" keyProperty="id">
    insert into sp_pbrand ( storeId, brandName,status, 
      fastcode, profit_d0, profit_d1, 
      profit_d2, profit_d3, profit_d4, 
      profit_d5, profit_precise, create_time, 
      create_by, modify_time, modify_by
      )
    values ( #{storeId,jdbcType=INTEGER}, #{brandname,jdbcType=VARCHAR}, 0,
      #{fastcode,jdbcType=VARCHAR}, #{profitD0,jdbcType=DECIMAL}, #{profitD1,jdbcType=DECIMAL}, 
      #{profitD2,jdbcType=DECIMAL}, #{profitD3,jdbcType=DECIMAL}, #{profitD4,jdbcType=DECIMAL}, 
      #{profitD5,jdbcType=DECIMAL}, #{profitPrecise,jdbcType=DECIMAL}, NOW(), 
      #{createBy,jdbcType=VARCHAR}, NOW(), #{modifyBy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="costumetrade.order.domain.SpPBrand">
   <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() AS id
	</selectKey>
    insert into sp_pbrand
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="storeId != null">
        storeId,
      </if>
      status,
      <if test="brandname != null">
        brandName,
      </if>
      <if test="fastcode != null">
        fastcode,
      </if>
      <if test="profitD0 != null">
        profit_d0,
      </if>
      <if test="profitD1 != null">
        profit_d1,
      </if>
      <if test="profitD2 != null">
        profit_d2,
      </if>
      <if test="profitD3 != null">
        profit_d3,
      </if>
      <if test="profitD4 != null">
        profit_d4,
      </if>
      <if test="profitD5 != null">
        profit_d5,
      </if>
      <if test="profitPrecise != null">
        profit_precise,
      </if>
    
        create_time,
    
      <if test="createBy != null">
        create_by,
      </if>
   
        modify_time,
    
      <if test="modifyBy != null">
        modify_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=INTEGER},
      </if>
      0,
      <if test="brandname != null">
        #{brandname,jdbcType=VARCHAR},
      </if>
      <if test="fastcode != null">
        #{fastcode,jdbcType=VARCHAR},
      </if>
      <if test="profitD0 != null">
        #{profitD0,jdbcType=DECIMAL},
      </if>
      <if test="profitD1 != null">
        #{profitD1,jdbcType=DECIMAL},
      </if>
      <if test="profitD2 != null">
        #{profitD2,jdbcType=DECIMAL},
      </if>
      <if test="profitD3 != null">
        #{profitD3,jdbcType=DECIMAL},
      </if>
      <if test="profitD4 != null">
        #{profitD4,jdbcType=DECIMAL},
      </if>
      <if test="profitD5 != null">
        #{profitD5,jdbcType=DECIMAL},
      </if>
      <if test="profitPrecise != null">
        #{profitPrecise,jdbcType=DECIMAL},
      </if>
      NOW(),
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      NOW(),
      <if test="modifyBy != null">
        #{modifyBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
    <update id="updateByPrimaryKeySelective" parameterType="costumetrade.order.domain.SpPBrand">
    update sp_pbrand
    <set>
      <if test="storeId != null">
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="brandname != null">
        #{brandname,jdbcType=VARCHAR},
      </if>
      <if test="fastcode != null">
        #{fastcode,jdbcType=VARCHAR},
      </if>
      <if test="profitD0 != null">
        #{profitD0,jdbcType=DECIMAL},
      </if>
      <if test="profitD1 != null">
        #{profitD1,jdbcType=DECIMAL},
      </if>
      <if test="profitD2 != null">
        #{profitD2,jdbcType=DECIMAL},
      </if>
      <if test="profitD3 != null">
        #{profitD3,jdbcType=DECIMAL},
      </if>
      <if test="profitD4 != null">
        #{profitD4,jdbcType=DECIMAL},
      </if>
      <if test="profitD5 != null">
        #{profitD5,jdbcType=DECIMAL},
      </if>
      <if test="profitPrecise != null">
        #{profitPrecise,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      NOW(),
      <if test="modifyBy != null">
        #{modifyBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>