<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="costumetrade.order.mapper.SpPCateMapper">
  <resultMap id="BaseResultMap" type="costumetrade.order.domain.SpPCate">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="isDefault" jdbcType="INTEGER" property="isDefault" />
    <result column="cateName" jdbcType="VARCHAR" property="catename" />
    <result column="storeId" jdbcType="VARCHAR" property="storeId" />
    <result column="fastcode" jdbcType="VARCHAR" property="fastcode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="modify_by" jdbcType="VARCHAR" property="modifyBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, cateName,status, storeId, fastcode, create_time, create_by, modify_time, modify_by,isDefault
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sp_product_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="getSpPCate"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sp_product_type
    where storeId = #{storeId,jdbcType=VARCHAR}
    and id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getSpPCateByName"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sp_product_type
    where storeId = #{storeId,jdbcType=VARCHAR}
    and cateName = #{catename,jdbcType=VARCHAR}
  </select>
  
  <select id="getSpPCates"  resultMap="BaseResultMap">
    select 
  	id, cateName, storeId,isDefault
    from sp_product_type
    where storeId = #{storeId,jdbcType=VARCHAR}
	and status = 0
  </select>
  <update id="deleteByPrimaryKey" parameterType="List">
    update  sp_product_type set status=1
    where id in <foreach collection="ids" index="index" item="item" separator="," open="(" close=")">#{item,jdbcType=INTEGER}</foreach>
  </update>
  <insert id="insert" parameterType="costumetrade.order.domain.SpPCate" useGeneratedKeys="true" keyProperty="id">
    insert into sp_product_type ( cateName, storeId,status,isDefault, 
      fastcode, create_time, create_by, 
      modify_time, modify_by)
    values ( #{catename,jdbcType=VARCHAR}, #{storeId,jdbcType=VARCHAR}, 0,1,
      #{fastcode,jdbcType=VARCHAR}, NOW(), #{createBy,jdbcType=VARCHAR}, 
      NOW(), #{modifyBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="costumetrade.order.domain.SpPCate">
   <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() AS id
	</selectKey>
    insert into sp_product_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="catename != null">
        cateName,
      </if>
      <if test="storeId != null">
        storeId,
      </if>
     
        isDefault,
     
      status,
      <if test="fastcode != null">
        fastcode,
      </if>
        create_time,
      <if test="createBy != null">
        create_by,
      </if>
        modify_time,
      <if test="modifyBy != null">
        modify_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="catename != null">
        #{catename,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=VARCHAR},
      </if>
      1,
      0,
      <if test="fastcode != null">
        #{fastcode,jdbcType=VARCHAR},
      </if>
      NOW(),
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
     NOW(),
      <if test="modifyBy != null">
        #{modifyBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="costumetrade.order.domain.SpPCate">
    update sp_product_type
    <set>
      <if test="catename != null">
        cateName = #{catename,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null">
        storeId = #{storeId,jdbcType=VARCHAR},
      </if>
      
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="fastcode != null">
        fastcode = #{fastcode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
        modify_time = NOW(),
      <if test="modifyBy != null">
        modify_by = #{modifyBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="costumetrade.order.domain.SpPCate">
    update sp_product_type
    set cateName = #{catename,jdbcType=VARCHAR},
      storeId = #{storeId,jdbcType=VARCHAR},
      isDefault = #{isDefault,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      fastcode = #{fastcode,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      modify_time = NOW(),
      modify_by = #{modifyBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>