<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="costumetrade.user.mapper.SpPrivilegeEmployeeMapper">
	<resultMap id="BaseResultMap" type="costumetrade.user.domain.SpPrivilegeEmployee">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="privilege_id" jdbcType="BIGINT" property="privilegeId" />
		<result column="employee_id" jdbcType="BIGINT" property="employeeId" />
		<result column="operate_name" jdbcType="VARCHAR" property="operateName" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
	</resultMap>
	<sql id="Base_Column_List">
		id, privilege_id, employee_id, create_date, modify_date
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sp_privilege_employee
		where id = #{id,jdbcType=BIGINT}
	</select>

	<select id="getEmployeeSpPrivilegeList" parameterType="costumetrade.user.domain.SpPrivilegeEmployee"
		resultMap="BaseResultMap">
		SELECT
		e.employee_id,
		p.operate_name,
		e.privilege_id
		FROM
		sp_privilege_employee e
		LEFT JOIN sp_privilege p
		ON e.privilege_id = p.id
		where 1=1
		<if test="employeeId !=null">
			and e.employee_id =#{employeeId}
		</if>
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from sp_privilege_employee
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByEmployeeId" parameterType="java.lang.Long">
		delete from
		sp_privilege_employee
		where employee_id = #{employeeId,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="costumetrade.user.domain.SpPrivilegeEmployee">
		insert into sp_privilege_employee (id, privilege_id, employee_id,
		create_date, modify_date)
		values (#{id,jdbcType=BIGINT}, #{privilegeId,jdbcType=BIGINT},
		#{employeeId,jdbcType=BIGINT},
		#{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP})
	</insert>
	<insert id="saveSpPrivilegeEmployees" parameterType="java.util.List">
		insert into sp_privilege_employee
		(privilege_id,
		employee_id,create_date, modify_date) values
		<foreach collection="list" item="item" index="index"
			separator=",">(
			#{item.privilegeId,jdbcType=BIGINT},#{item.employeeId,jdbcType=BIGINT},NOW(),NOW())
		</foreach>
	</insert>
	<insert id="insertSelective" parameterType="costumetrade.user.domain.SpPrivilegeEmployee">
		insert into sp_privilege_employee
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="privilegeId != null">
				privilege_id,
			</if>
			<if test="employeeId != null">
				employee_id,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="modifyDate != null">
				modify_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="privilegeId != null">
				#{privilegeId,jdbcType=BIGINT},
			</if>
			<if test="employeeId != null">
				#{employeeId,jdbcType=BIGINT},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyDate != null">
				#{modifyDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="costumetrade.user.domain.SpPrivilegeEmployee">
		update sp_privilege_employee
		<set>
			<if test="privilegeId != null">
				privilege_id = #{privilegeId,jdbcType=BIGINT},
			</if>
			<if test="employeeId != null">
				employee_id = #{employeeId,jdbcType=BIGINT},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyDate != null">
				modify_date = #{modifyDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="costumetrade.user.domain.SpPrivilegeEmployee">
		update sp_privilege_employee
		set privilege_id = #{privilegeId,jdbcType=BIGINT},
		employee_id = #{employeeId,jdbcType=BIGINT},
		create_date = #{createDate,jdbcType=TIMESTAMP},
		modify_date = #{modifyDate,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>