<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="costumetrade.order.mapper.SpPSizeMapper">
  <resultMap id="BaseResultMap" type="costumetrade.order.domain.SpPSize">
    <id column="corpId" jdbcType="INTEGER" property="corpid" />
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="barcode" jdbcType="VARCHAR" property="barcode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="modify_by" jdbcType="VARCHAR" property="modifyBy" />
  </resultMap>
  <sql id="Base_Column_List">
    corpId, id, barcode, create_time, create_by, modify_time, modify_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="costumetrade.order.domain.SpPSizeKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sp_psize
    where corpId = #{corpid,jdbcType=INTEGER}
      and id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="getSpPSizes" parameterType="int" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sp_psize
    where corpId = #{corpid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="costumetrade.order.domain.SpPSizeKey">
    delete from sp_psize
    where corpId = #{corpid,jdbcType=INTEGER}
      and id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="costumetrade.order.domain.SpPSize">
    insert into sp_psize (corpId, id, barcode, 
      create_time, create_by, modify_time, 
      modify_by)
    values (#{corpid,jdbcType=INTEGER}, #{id,jdbcType=VARCHAR}, #{barcode,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{modifyBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="costumetrade.order.domain.SpPSize">
    insert into sp_psize
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="corpid != null">
        corpId,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="barcode != null">
        barcode,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="modifyBy != null">
        modify_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="corpid != null">
        #{corpid,jdbcType=INTEGER},
      </if>
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="barcode != null">
        #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null">
        #{modifyBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="costumetrade.order.domain.SpPSize">
    update sp_psize
    <set>
      <if test="barcode != null">
        barcode = #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null">
        modify_by = #{modifyBy,jdbcType=VARCHAR},
      </if>
    </set>
    where corpId = #{corpid,jdbcType=INTEGER}
      and id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="costumetrade.order.domain.SpPSize">
    update sp_psize
    set barcode = #{barcode,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_by = #{modifyBy,jdbcType=VARCHAR}
    where corpId = #{corpid,jdbcType=INTEGER}
      and id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>