<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="costumetrade.order.mapper.SpStoOrderMapper">
  <resultMap id="BaseResultMap" type="costumetrade.order.domain.SpStoOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="corpId" jdbcType="INTEGER" property="corpid" />
    <result column="eSub" jdbcType="VARCHAR" property="esub" />
    <result column="sellerId" jdbcType="INTEGER" property="sellerid" />
    <result column="sellerSubId" jdbcType="INTEGER" property="sellersubid" />
    <result column="buyerSubId" jdbcType="INTEGER" property="buyersubid" />
    <result column="buyerId" jdbcType="INTEGER" property="buyerid" />
    <result column="refundDate" jdbcType="TIMESTAMP" property="refunddate" />
    <result column="relatedOutTradeNo" jdbcType="VARCHAR" property="relatedouttradeno" />
    <result column="payOrderNo" jdbcType="VARCHAR" property="payorderno" />
    <result column="refundStatus" jdbcType="VARCHAR" property="refundstatus" />
    <result column="orderType" jdbcType="VARCHAR" property="ordertype" />
    <result column="orderStatus" jdbcType="INTEGER" property="orderstatus" />
    <result column="ship_cate" jdbcType="INTEGER" property="shipCate" />
    <result column="ship_state" jdbcType="INTEGER" property="shipState" />
    <result column="ship_contact" jdbcType="VARCHAR" property="shipContact" />
    <result column="ship_phone" jdbcType="VARCHAR" property="shipPhone" />
    <result column="ship_address" jdbcType="VARCHAR" property="shipAddress" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="uname" jdbcType="VARCHAR" property="uname" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="totalNum" jdbcType="DECIMAL" property="totalnum" />
    <result column="totalAmt" jdbcType="DECIMAL" property="totalamt" />
    <result column="discountRatio" jdbcType="INTEGER" property="discountratio" />
    <result column="discount" jdbcType="DECIMAL" property="discount" />
    <result column="mchange" jdbcType="DECIMAL" property="mchange" />
    <result column="tax" jdbcType="DECIMAL" property="tax" />
    <result column="realcost" jdbcType="DECIMAL" property="realcost" />
    <result column="payCate1" jdbcType="VARCHAR" property="paycate1" />
    <result column="payCost1" jdbcType="DECIMAL" property="paycost1" />
    <result column="payCate2" jdbcType="VARCHAR" property="paycate2" />
    <result column="payCost2" jdbcType="DECIMAL" property="paycost2" />
    <result column="debet" jdbcType="DECIMAL" property="debet" />
    <result column="order_time" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="modify_by" jdbcType="VARCHAR" property="modifyBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, corpId, eSub, sellerId, sellerSubId, buyerSubId, buyerId, refundDate, relatedOutTradeNo, 
    payOrderNo, refundStatus, orderType, orderStatus, ship_cate, ship_state, ship_contact, 
    ship_phone, ship_address, uid, uname, remarks, totalNum, totalAmt, discountRatio, 
    discount, mchange, tax, realcost, payCate1, payCost1, payCate2, payCost2, debet, 
    order_time, create_time, create_by, modify_time, modify_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ss_stoorder
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByOrderId" parameterType="costumetrade.order.query.OrderDetailKeyParam" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ss_stoorder_#{corpId,jdbcType=INTEGER}
    where payOrderNo = #{orderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ss_stoorder
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="costumetrade.order.domain.SpStoOrder">
    insert into ss_stoorder_#{corpid,jdbcType=INTEGER} (id, corpId, eSub, 
      sellerId, sellerSubId, buyerSubId, 
      buyerId, refundDate, relatedOutTradeNo, 
      payOrderNo, refundStatus, orderType, 
      orderStatus, ship_cate, ship_state, 
      ship_contact, ship_phone, ship_address, 
      uid, uname, remarks, 
      totalNum, totalAmt, discountRatio, 
      discount, mchange, tax, 
      realcost, payCate1, payCost1, 
      payCate2, payCost2, debet, 
      order_time, create_time, create_by, 
      modify_time, modify_by)
    values (#{id,jdbcType=INTEGER}, #{corpid,jdbcType=INTEGER}, #{esub,jdbcType=VARCHAR}, 
      #{sellerid,jdbcType=INTEGER}, #{sellersubid,jdbcType=INTEGER}, #{buyersubid,jdbcType=INTEGER}, 
      #{buyerid,jdbcType=INTEGER}, #{refunddate,jdbcType=TIMESTAMP}, #{relatedouttradeno,jdbcType=VARCHAR}, 
      #{payorderno,jdbcType=VARCHAR}, #{refundstatus,jdbcType=VARCHAR}, #{ordertype,jdbcType=VARCHAR}, 
      #{orderstatus,jdbcType=INTEGER}, #{shipCate,jdbcType=INTEGER}, #{shipState,jdbcType=INTEGER}, 
      #{shipContact,jdbcType=VARCHAR}, #{shipPhone,jdbcType=VARCHAR}, #{shipAddress,jdbcType=VARCHAR}, 
      #{uid,jdbcType=VARCHAR}, #{uname,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, 
      #{totalnum,jdbcType=DECIMAL}, #{totalamt,jdbcType=DECIMAL}, #{discountratio,jdbcType=INTEGER}, 
      #{discount,jdbcType=DECIMAL}, #{mchange,jdbcType=DECIMAL}, #{tax,jdbcType=DECIMAL}, 
      #{realcost,jdbcType=DECIMAL}, #{paycate1,jdbcType=VARCHAR}, #{paycost1,jdbcType=DECIMAL}, 
      #{paycate2,jdbcType=VARCHAR}, #{paycost2,jdbcType=DECIMAL}, #{debet,jdbcType=DECIMAL}, 
      #{orderTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{modifyBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="costumetrade.order.domain.SpStoOrder">
    insert into ss_stoorder_#{corpid,jdbcType=INTEGER}
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="corpid != null">
        corpId,
      </if>
      <if test="esub != null">
        eSub,
      </if>
      <if test="sellerid != null">
        sellerId,
      </if>
      <if test="sellersubid != null">
        sellerSubId,
      </if>
      <if test="buyersubid != null">
        buyerSubId,
      </if>
      <if test="buyerid != null">
        buyerId,
      </if>
      <if test="refunddate != null">
        refundDate,
      </if>
      <if test="relatedouttradeno != null">
        relatedOutTradeNo,
      </if>
      <if test="payorderno != null">
        payOrderNo,
      </if>
      <if test="refundstatus != null">
        refundStatus,
      </if>
      <if test="ordertype != null">
        orderType,
      </if>
      <if test="orderstatus != null">
        orderStatus,
      </if>
      <if test="shipCate != null">
        ship_cate,
      </if>
      <if test="shipState != null">
        ship_state,
      </if>
      <if test="shipContact != null">
        ship_contact,
      </if>
      <if test="shipPhone != null">
        ship_phone,
      </if>
      <if test="shipAddress != null">
        ship_address,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="uname != null">
        uname,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="totalnum != null">
        totalNum,
      </if>
      <if test="totalamt != null">
        totalAmt,
      </if>
      <if test="discountratio != null">
        discountRatio,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="mchange != null">
        mchange,
      </if>
      <if test="tax != null">
        tax,
      </if>
      <if test="realcost != null">
        realcost,
      </if>
      <if test="paycate1 != null">
        payCate1,
      </if>
      <if test="paycost1 != null">
        payCost1,
      </if>
      <if test="paycate2 != null">
        payCate2,
      </if>
      <if test="paycost2 != null">
        payCost2,
      </if>
      <if test="debet != null">
        debet,
      </if>
      <if test="orderTime != null">
        order_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="modifyBy != null">
        modify_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="corpid != null">
        #{corpid,jdbcType=INTEGER},
      </if>
      <if test="esub != null">
        #{esub,jdbcType=VARCHAR},
      </if>
      <if test="sellerid != null">
        #{sellerid,jdbcType=INTEGER},
      </if>
      <if test="sellersubid != null">
        #{sellersubid,jdbcType=INTEGER},
      </if>
      <if test="buyersubid != null">
        #{buyersubid,jdbcType=INTEGER},
      </if>
      <if test="buyerid != null">
        #{buyerid,jdbcType=INTEGER},
      </if>
      <if test="refunddate != null">
        #{refunddate,jdbcType=TIMESTAMP},
      </if>
      <if test="relatedouttradeno != null">
        #{relatedouttradeno,jdbcType=VARCHAR},
      </if>
      <if test="payorderno != null">
        #{payorderno,jdbcType=VARCHAR},
      </if>
      <if test="refundstatus != null">
        #{refundstatus,jdbcType=VARCHAR},
      </if>
      <if test="ordertype != null">
        #{ordertype,jdbcType=VARCHAR},
      </if>
      <if test="orderstatus != null">
        #{orderstatus,jdbcType=INTEGER},
      </if>
      <if test="shipCate != null">
        #{shipCate,jdbcType=INTEGER},
      </if>
      <if test="shipState != null">
        #{shipState,jdbcType=INTEGER},
      </if>
      <if test="shipContact != null">
        #{shipContact,jdbcType=VARCHAR},
      </if>
      <if test="shipPhone != null">
        #{shipPhone,jdbcType=VARCHAR},
      </if>
      <if test="shipAddress != null">
        #{shipAddress,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="uname != null">
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="totalnum != null">
        #{totalnum,jdbcType=DECIMAL},
      </if>
      <if test="totalamt != null">
        #{totalamt,jdbcType=DECIMAL},
      </if>
      <if test="discountratio != null">
        #{discountratio,jdbcType=INTEGER},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=DECIMAL},
      </if>
      <if test="mchange != null">
        #{mchange,jdbcType=DECIMAL},
      </if>
      <if test="tax != null">
        #{tax,jdbcType=DECIMAL},
      </if>
      <if test="realcost != null">
        #{realcost,jdbcType=DECIMAL},
      </if>
      <if test="paycate1 != null">
        #{paycate1,jdbcType=VARCHAR},
      </if>
      <if test="paycost1 != null">
        #{paycost1,jdbcType=DECIMAL},
      </if>
      <if test="paycate2 != null">
        #{paycate2,jdbcType=VARCHAR},
      </if>
      <if test="paycost2 != null">
        #{paycost2,jdbcType=DECIMAL},
      </if>
      <if test="debet != null">
        #{debet,jdbcType=DECIMAL},
      </if>
      <if test="orderTime != null">
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null">
        #{modifyBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="costumetrade.order.domain.SpStoOrder">
    update ss_stoorder_#{corpid,jdbcType=INTEGER}
    <set>
      <if test="corpid != null">
        corpId = #{corpid,jdbcType=INTEGER},
      </if>
      <if test="esub != null">
        eSub = #{esub,jdbcType=VARCHAR},
      </if>
      <if test="sellerid != null">
        sellerId = #{sellerid,jdbcType=INTEGER},
      </if>
      <if test="sellersubid != null">
        sellerSubId = #{sellersubid,jdbcType=INTEGER},
      </if>
      <if test="buyersubid != null">
        buyerSubId = #{buyersubid,jdbcType=INTEGER},
      </if>
      <if test="buyerid != null">
        buyerId = #{buyerid,jdbcType=INTEGER},
      </if>
      <if test="refunddate != null">
        refundDate = #{refunddate,jdbcType=TIMESTAMP},
      </if>
      <if test="relatedouttradeno != null">
        relatedOutTradeNo = #{relatedouttradeno,jdbcType=VARCHAR},
      </if>
      <if test="payorderno != null">
        payOrderNo = #{payorderno,jdbcType=VARCHAR},
      </if>
      <if test="refundstatus != null">
        refundStatus = #{refundstatus,jdbcType=VARCHAR},
      </if>
      <if test="ordertype != null">
        orderType = #{ordertype,jdbcType=VARCHAR},
      </if>
      <if test="orderstatus != null">
        orderStatus = #{orderstatus,jdbcType=INTEGER},
      </if>
      <if test="shipCate != null">
        ship_cate = #{shipCate,jdbcType=INTEGER},
      </if>
      <if test="shipState != null">
        ship_state = #{shipState,jdbcType=INTEGER},
      </if>
      <if test="shipContact != null">
        ship_contact = #{shipContact,jdbcType=VARCHAR},
      </if>
      <if test="shipPhone != null">
        ship_phone = #{shipPhone,jdbcType=VARCHAR},
      </if>
      <if test="shipAddress != null">
        ship_address = #{shipAddress,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="uname != null">
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="totalnum != null">
        totalNum = #{totalnum,jdbcType=DECIMAL},
      </if>
      <if test="totalamt != null">
        totalAmt = #{totalamt,jdbcType=DECIMAL},
      </if>
      <if test="discountratio != null">
        discountRatio = #{discountratio,jdbcType=INTEGER},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=DECIMAL},
      </if>
      <if test="mchange != null">
        mchange = #{mchange,jdbcType=DECIMAL},
      </if>
      <if test="tax != null">
        tax = #{tax,jdbcType=DECIMAL},
      </if>
      <if test="realcost != null">
        realcost = #{realcost,jdbcType=DECIMAL},
      </if>
      <if test="paycate1 != null">
        payCate1 = #{paycate1,jdbcType=VARCHAR},
      </if>
      <if test="paycost1 != null">
        payCost1 = #{paycost1,jdbcType=DECIMAL},
      </if>
      <if test="paycate2 != null">
        payCate2 = #{paycate2,jdbcType=VARCHAR},
      </if>
      <if test="paycost2 != null">
        payCost2 = #{paycost2,jdbcType=DECIMAL},
      </if>
      <if test="debet != null">
        debet = #{debet,jdbcType=DECIMAL},
      </if>
      <if test="orderTime != null">
        order_time = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null">
        modify_by = #{modifyBy,jdbcType=VARCHAR},
      </if>
    </set>
    where corpId = #{corpid,jdbcType=INTEGER} 
    and payOrderNo = #{payorderno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="costumetrade.order.domain.SpStoOrder">
    update ss_stoorder
    set corpId = #{corpid,jdbcType=INTEGER},
      eSub = #{esub,jdbcType=VARCHAR},
      sellerId = #{sellerid,jdbcType=INTEGER},
      sellerSubId = #{sellersubid,jdbcType=INTEGER},
      buyerSubId = #{buyersubid,jdbcType=INTEGER},
      buyerId = #{buyerid,jdbcType=INTEGER},
      refundDate = #{refunddate,jdbcType=TIMESTAMP},
      relatedOutTradeNo = #{relatedouttradeno,jdbcType=VARCHAR},
      payOrderNo = #{payorderno,jdbcType=VARCHAR},
      refundStatus = #{refundstatus,jdbcType=VARCHAR},
      orderType = #{ordertype,jdbcType=VARCHAR},
      orderStatus = #{orderstatus,jdbcType=INTEGER},
      ship_cate = #{shipCate,jdbcType=INTEGER},
      ship_state = #{shipState,jdbcType=INTEGER},
      ship_contact = #{shipContact,jdbcType=VARCHAR},
      ship_phone = #{shipPhone,jdbcType=VARCHAR},
      ship_address = #{shipAddress,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=VARCHAR},
      uname = #{uname,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      totalNum = #{totalnum,jdbcType=DECIMAL},
      totalAmt = #{totalamt,jdbcType=DECIMAL},
      discountRatio = #{discountratio,jdbcType=INTEGER},
      discount = #{discount,jdbcType=DECIMAL},
      mchange = #{mchange,jdbcType=DECIMAL},
      tax = #{tax,jdbcType=DECIMAL},
      realcost = #{realcost,jdbcType=DECIMAL},
      payCate1 = #{paycate1,jdbcType=VARCHAR},
      payCost1 = #{paycost1,jdbcType=DECIMAL},
      payCate2 = #{paycate2,jdbcType=VARCHAR},
      payCost2 = #{paycost2,jdbcType=DECIMAL},
      debet = #{debet,jdbcType=DECIMAL},
      order_time = #{orderTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_by = #{modifyBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>