<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="costumetrade.user.mapper.SpStoreMapper">
  <resultMap id="BaseResultMap" type="costumetrade.user.domain.SpStore">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parentId" jdbcType="INTEGER" property="parentid" />
    <result column="storeType" jdbcType="INTEGER" property="storeType" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="storePhoto" jdbcType="VARCHAR" property="storephoto" />
    <result column="inventoryShare" jdbcType="INTEGER" property="inventoryShare" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="server" jdbcType="VARCHAR" property="server" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="cphone" jdbcType="VARCHAR" property="cphone" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="modify_by" jdbcType="VARCHAR" property="modifyBy" />
    <result column="we_ticket" jdbcType="VARCHAR" property="weTicket" />
    <result column="we_url" jdbcType="VARCHAR" property="weUrl" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="wechat" jdbcType="VARCHAR" property="wechat" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    id, parentId, storePhoto, status,name,storeType, inventoryShare,server, contact, phone, cphone, address, create_time, 
    create_by, modify_time, modify_by, we_ticket, we_url, region, wechat, birthday, description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sp_store
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectStores"  resultMap="BaseResultMap">
    select id, parentId, storePhoto, name,storeType, inventoryShare
    from sp_store
    where 1=1
    and status =0
     <if test="store.parentid != null">
       and parentId = #{store.parentid,jdbcType=INTEGER}
      </if>
      <if test="store.storephoto != null">
       and storePhoto = #{store.storephoto,jdbcType=VARCHAR}
      </if>
      <if test="store.storeType != null">
       and storeType = #{store.storeType,jdbcType=INTEGER}
      </if>
      <if test="store.inventoryShare != null">
       and inventoryShare = #{store.inventoryShare,jdbcType=INTEGER}
      </if>
      <if test="store.name != null">
       and name = #{store.name,jdbcType=VARCHAR}
      </if>
      <if test="store.id != null">
  	   and id = #{store.id,jdbcType=INTEGER}
      </if>
      <if test="store.idArray != null">
  	   and id in 
  	   <foreach collection="store.idArray" item="item" index="index"
				open="(" separator="," close=")"> #{item}</foreach>
      </if>
      <if test="page != null">
      LIMIT #{page.startRow},#{page.pageSize}
      </if>
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    update  sp_store set status = 1
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insert" parameterType="costumetrade.user.domain.SpStore">
    insert into sp_store (id, parentId, storePhoto,status,storeType,inventoryShare, 
      name, server, contact, 
      phone, cphone, address, 
      create_time, create_by, modify_time, 
      modify_by, we_ticket, we_url, 
      region, wechat, birthday, 
      description)
    values (#{id,jdbcType=INTEGER}, #{parentid,jdbcType=INTEGER}, #{storephoto,jdbcType=VARCHAR},0, #{storeType,jdbcType=INTEGER},#{inventoryShare,jdbcType=INTEGER},
      #{name,jdbcType=VARCHAR}, #{server,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{cphone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      NOW(), #{createBy,jdbcType=VARCHAR}, NOW(), 
      #{modifyBy,jdbcType=VARCHAR}, #{weTicket,jdbcType=VARCHAR}, #{weUrl,jdbcType=VARCHAR}, 
      #{region,jdbcType=VARCHAR}, #{wechat,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="costumetrade.user.domain.SpStore" keyProperty="id" useGeneratedKeys="true">
    insert into sp_store
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="parentid != null">
        parentId,
      </if>
      <if test="storephoto != null">
        storePhoto,
      </if>
      status,
      <if test="storeType != null">
        storeType,
      </if>
      <if test="inventoryShare != null">
        inventoryShare,
      </if>
      
      <if test="name != null">
        name,
      </if>
      <if test="server != null">
        server,
      </if>
      <if test="contact != null">
        contact,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="cphone != null">
        cphone,
      </if>
      <if test="address != null">
        address,
      </if>
     
        create_time,
     
      <if test="createBy != null">
        create_by,
      </if>
     
        modify_time,
     
      <if test="modifyBy != null">
        modify_by,
      </if>
      <if test="weTicket != null">
        we_ticket,
      </if>
      <if test="weUrl != null">
        we_url,
      </if>
      <if test="region != null">
        region,
      </if>
      <if test="wechat != null">
        wechat,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="storephoto != null">
        #{storephoto,jdbcType=VARCHAR},
      </if>
      0,
      <if test="storeType != null">
        #{storeType,jdbcType=INTEGER},
      </if>
      <if test="inventoryShare != null">
        #{inventoryShare,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="server != null">
        #{server,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="cphone != null">
        #{cphone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
    	NOW(),
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
     	NOW(),
      <if test="modifyBy != null">
        #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="weTicket != null">
        #{weTicket,jdbcType=VARCHAR},
      </if>
      <if test="weUrl != null">
        #{weUrl,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="costumetrade.user.domain.SpStore">
    update sp_store
    <set>
      <if test="parentid != null">
        parentId = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="storephoto != null">
        storePhoto = #{storephoto,jdbcType=VARCHAR},
      </if>
      <if test="storeType != null">
        storeType = #{storeType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="inventoryShare != null">
        inventoryShare = #{inventoryShare,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="server != null">
        server = #{server,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="cphone != null">
        cphone = #{cphone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
        modify_time = NOW(),
      <if test="modifyBy != null">
        modify_by = #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="weTicket != null">
        we_ticket = #{weTicket,jdbcType=VARCHAR},
      </if>
      <if test="weUrl != null">
        we_url = #{weUrl,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        wechat = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="costumetrade.user.domain.SpStore">
    update sp_store
    set parentId = #{parentid,jdbcType=INTEGER},
      storePhoto = #{storephoto,jdbcType=VARCHAR},
      storeType = #{storeType,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      inventoryShare = #{inventoryShare,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      server = #{server,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      cphone = #{cphone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      modify_time = NOW(),
      modify_by = #{modifyBy,jdbcType=VARCHAR},
      we_ticket = #{weTicket,jdbcType=VARCHAR},
      we_url = #{weUrl,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      wechat = #{wechat,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>