<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="costumetrade.user.mapper.SpUserMapper">
  <resultMap id="BaseResultMap" type="costumetrade.user.domain.SpUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="cphone" jdbcType="VARCHAR" property="cphone" />
    <result column="weChat_no" jdbcType="VARCHAR" property="wechatNo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, photo, name, phone, address, create_time, create_by, birthday, remark, weChat_no,region,cphone
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sp_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sp_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="costumetrade.user.domain.SpUser" keyProperty="id" useGeneratedKeys="true">
  
    insert into sp_user (photo, name, 
      phone, address, create_time, 
      create_by, birthday, remark, 
      weChat_no,region,cphone)
    values (#{photo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{wechatNo,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}, 
      #{cphone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="costumetrade.user.domain.SpUser"  keyProperty="id" useGeneratedKeys="true">
    insert into sp_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="wechatNo != null">
        weChat_no,
      </if>
      <if test="region != null">
        region,
      </if>
      <if test="cphone != null">
        cphone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="wechatNo != null">
        #{wechatNo,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="cphone != null">
        #{cphone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="costumetrade.user.domain.SpUser">
    update sp_user
    <set>
      <if test="photo != null">
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="wechatNo != null">
        weChat_no = #{wechatNo,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="cphone != null">
        cphone = #{cphone,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="costumetrade.user.domain.SpUser">
    update sp_user
    set photo = #{photo,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      weChat_no = #{wechatNo,jdbcType=VARCHAR}
      region = #{region,jdbcType=VARCHAR},
      cphone = #{cphone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>