<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="costumetrade.order.mapper.SsCgsorderMapper">
  <resultMap id="BaseResultMap" type="costumetrade.order.domain.SsCgsorder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="storeId" jdbcType="INTEGER" property="storeid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="cate" jdbcType="VARCHAR" property="cate" />
    <result column="cateName" jdbcType="VARCHAR" property="catename" />
    <result column="payCate" jdbcType="VARCHAR" property="paycate" />
    <result column="payCost" jdbcType="DECIMAL" property="paycost" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="order_time" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="modify_time" jdbcType="BIGINT" property="modifyTime" />
    <result column="modify_by" jdbcType="VARCHAR" property="modifyBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, storeId, status, cate, cateName, payCate, payCost, remarks, order_time, create_time, 
    create_by, modify_time, modify_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ss_cgsorder
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ss_cgsorder
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="costumetrade.order.domain.SsCgsorder">
    insert into ss_cgsorder (id, storeId, status, 
      cate, cateName, payCate, 
      payCost, remarks, order_time, 
      create_time, create_by, modify_time, 
      modify_by)
    values (#{id,jdbcType=INTEGER}, #{storeid,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{cate,jdbcType=VARCHAR}, #{catename,jdbcType=VARCHAR}, #{paycate,jdbcType=VARCHAR}, 
      #{paycost,jdbcType=DECIMAL}, #{remarks,jdbcType=VARCHAR}, #{orderTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=BIGINT}, #{createBy,jdbcType=VARCHAR}, #{modifyTime,jdbcType=BIGINT}, 
      #{modifyBy,jdbcType=VARCHAR})
  </insert>
  <insert id="saveFeeOrders">
    insert into ss_cgsorder (storeId, status, 
      cate, cateName, payCate, 
      payCost, remarks, order_time, 
      create_time, create_by, modify_time, 
      modify_by)
    values <foreach collection="orders" item="item" index="index" separator=",">( #{item.storeId},0,#{item.cate}, 
      #{item.cateName}, #{item.payCate}, #{item.payCost}, 
      #{item.remarks}, NOW(),NOW(),#{item.createBy},NOW(),#{item.modifyBy}
      )</foreach>;
  </insert>
  <insert id="insertSelective" parameterType="costumetrade.order.domain.SsCgsorder">
    insert into ss_cgsorder
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="storeid != null">
        storeId,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="cate != null">
        cate,
      </if>
      <if test="catename != null">
        cateName,
      </if>
      <if test="paycate != null">
        payCate,
      </if>
      <if test="paycost != null">
        payCost,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="orderTime != null">
        order_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="modifyBy != null">
        modify_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="storeid != null">
        #{storeid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="cate != null">
        #{cate,jdbcType=VARCHAR},
      </if>
      <if test="catename != null">
        #{catename,jdbcType=VARCHAR},
      </if>
      <if test="paycate != null">
        #{paycate,jdbcType=VARCHAR},
      </if>
      <if test="paycost != null">
        #{paycost,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null">
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="modifyBy != null">
        #{modifyBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="costumetrade.order.domain.SsCgsorder">
    update ss_cgsorder
    <set>
      <if test="storeid != null">
        storeId = #{storeid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="cate != null">
        cate = #{cate,jdbcType=VARCHAR},
      </if>
      <if test="catename != null">
        cateName = #{catename,jdbcType=VARCHAR},
      </if>
      <if test="paycate != null">
        payCate = #{paycate,jdbcType=VARCHAR},
      </if>
      <if test="paycost != null">
        payCost = #{paycost,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null">
        order_time = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="modifyBy != null">
        modify_by = #{modifyBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="costumetrade.order.domain.SsCgsorder">
    update ss_cgsorder
    set storeId = #{storeid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      cate = #{cate,jdbcType=VARCHAR},
      cateName = #{catename,jdbcType=VARCHAR},
      payCate = #{paycate,jdbcType=VARCHAR},
      payCost = #{paycost,jdbcType=DECIMAL},
      remarks = #{remarks,jdbcType=VARCHAR},
      order_time = #{orderTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=BIGINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=BIGINT},
      modify_by = #{modifyBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>