<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="costumetrade.order.mapper.SsProductFileMapper">
  <resultMap id="BaseResultMap" type="costumetrade.order.domain.SsProductFile">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="storeId" jdbcType="INTEGER" property="storeid" />
    <result column="productId" jdbcType="VARCHAR" property="productid" />
    <result column="fileName" jdbcType="VARCHAR" property="filename" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="createBy" jdbcType="VARCHAR" property="createby" />
  </resultMap>
  <sql id="Base_Column_List">
    id, storeId, productId, fileName, url, createTime, createBy
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ss_product_file
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ss_product_file
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="costumetrade.order.domain.SsProductFile">
    insert into ss_product_file (id, storeId, productId, 
      fileName, url, createTime, 
      createBy)
    values (#{id,jdbcType=INTEGER}, #{storeid,jdbcType=INTEGER}, #{productid,jdbcType=VARCHAR}, 
      #{filename,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{createby,jdbcType=VARCHAR})
  </insert>
  <insert id="insertFiles">
    insert into ss_product_file_#{storeId,jdbcType=INTEGER} (storeId, productId, 
      fileName, url, createTime, 
      createBy)
    values <foreach collection="files" index="index" item ="item" separator=",">( #{item.storeid,jdbcType=INTEGER}, #{item.productid,jdbcType=VARCHAR}, 
      #{item.filename,jdbcType=VARCHAR}, #{item.url,jdbcType=VARCHAR}, #{item.createtime,jdbcType=TIMESTAMP}, 
      #{item.createby,jdbcType=VARCHAR})</foreach> 
  </insert>
  <insert id="insertSelective" parameterType="costumetrade.order.domain.SsProductFile">
    insert into ss_product_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="storeid != null">
        storeId,
      </if>
      <if test="productid != null">
        productId,
      </if>
      <if test="filename != null">
        fileName,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="createby != null">
        createBy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="storeid != null">
        #{storeid,jdbcType=INTEGER},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=VARCHAR},
      </if>
      <if test="filename != null">
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="costumetrade.order.domain.SsProductFile">
    update ss_product_file
    <set>
      <if test="storeid != null">
        storeId = #{storeid,jdbcType=INTEGER},
      </if>
      <if test="productid != null">
        productId = #{productid,jdbcType=VARCHAR},
      </if>
      <if test="filename != null">
        fileName = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        createBy = #{createby,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="costumetrade.order.domain.SsProductFile">
    update ss_product_file
    set storeId = #{storeid,jdbcType=INTEGER},
      productId = #{productid,jdbcType=VARCHAR},
      fileName = #{filename,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      createBy = #{createby,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>