<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="costumetrade.order.mapper.SsPriceMapper">
  <resultMap id="BaseResultMap" type="costumetrade.order.domain.SsPrice">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="storeId" jdbcType="VARCHAR" property="storeid" />
    <result column="productId" jdbcType="VARCHAR" property="productid" />
    <result column="purchasePrice" jdbcType="DECIMAL" property="purchaseprice" />
    <result column="tagPrice" jdbcType="DECIMAL" property="tagprice" />
    <result column="fourthPrice" jdbcType="DECIMAL" property="fourthPrice" />
    <result column="fifthPrice" jdbcType="DECIMAL" property="fifthPrice" />
    <result column="firsthPrice" jdbcType="DECIMAL" property="firsthPrice" />
    <result column="secondPrice" jdbcType="DECIMAL" property="secondPrice" />
    <result column="thirdPrice" jdbcType="DECIMAL" property="thirdPrice" />
    <result column="custPrice" jdbcType="DECIMAL" property="custPrice" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="modify_by" jdbcType="VARCHAR" property="modifyBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, storeId, productId, purchasePrice, tagPrice, firsthPrice, secondPrice, thirdPrice, fourthPrice,fifthPrice,custPrice,
    modify_time, modify_by, create_time, create_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ss_pprice
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="select"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ss_pprice
    where 1=1
    <if test="productid!=null">
    and productId = #{productid,jdbcType=VARCHAR}
    </if>
    <if test="storeid!=null">
    and storeId = #{storeid,jdbcType=VARCHAR}
    </if>
   
  </select>
  <update id="updates" parameterType="List">
  <foreach collection="list" index="index" item="item" separator=";">
    update ss_pprice
    <set>
      <if test="item.storeid != null">
        storeId = #{item.storeid,jdbcType=VARCHAR},
      </if>
      <if test="item.purchaseprice != null">
        purchasePrice = #{item.purchaseprice,jdbcType=DECIMAL},
      </if>
      <if test="item.tagprice != null">
        tagPrice = #{item.tagprice,jdbcType=DECIMAL},
      </if>
      <if test="item.fifthPrice != null">
        fifthPrice = #{item.fifthPrice,jdbcType=DECIMAL},
      </if>
      <if test="item.fourthPrice != null">
        fourthPrice = #{item.fourthPrice,jdbcType=DECIMAL},
      </if>
      <if test="item.thirdPrice != null">
        thirdPrice = #{item.thirdPrice,jdbcType=DECIMAL},
      </if>
      <if test="item.secondPrice != null">
        secondPrice = #{item.secondPrice,jdbcType=DECIMAL},
      </if>
      <if test="item.firsthPrice != null">
        firsthPrice = #{item.firsthPrice,jdbcType=DECIMAL},
      </if>
        modify_time = now(),
      <if test="item.custPrice != null">
        custPrice = #{item.custPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where 1=1
    <if test="item.id != null">
    and id = #{item.id,jdbcType=INTEGER}
    </if>
    <if test="item.productid != null">
       and productId = #{item.productid,jdbcType=VARCHAR}
    </if>
    <if test="item.storeid!=null">
    and storeId = #{item.storeid,jdbcType=VARCHAR}
    </if>
    </foreach>
  </update>
   <select id="selectPrices"  resultMap="BaseResultMap">
    select 
   id, storeId, productId,custPrice
    from ss_pprice
    where 1=1
 	and productId is not null
    <if test="storeid!=null">
    and storeId = #{storeid,jdbcType=VARCHAR}
    </if>
    <if test="idArray!=null">
		AND productId IN <foreach collection="idArray" index="index" item="item" separator="," open="(" close=")">
		#{item}
		</foreach>
	</if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ss_pprice
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="costumetrade.order.domain.SsPrice">
    insert into ss_pprice (id, storeId, productId, 
      purchasePrice, tagPrice,firsthPrice, secondPrice, thirdPrice, fourthPrice,fifthPrice,custPrice, modify_time, 
      modify_by, create_time, create_by
      )
    values (#{id,jdbcType=INTEGER}, #{storeid,jdbcType=VARCHAR}, #{productid,jdbcType=VARCHAR}, 
      #{purchaseprice,jdbcType=DECIMAL}, #{tagprice,jdbcType=DECIMAL}, #{firsthPrice,jdbcType=DECIMAL}, 
      #{secondPrice,jdbcType=DECIMAL}, #{thirdPrice,jdbcType=DECIMAL},#{fourthPrice,jdbcType=DECIMAL}, #{fifthPrice,jdbcType=DECIMAL},0,
       #{modifyTime,jdbcType=TIMESTAMP}, 
      #{modifyBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="costumetrade.order.domain.SsPrice">
    insert into ss_pprice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="storeid != null">
        storeId,
      </if>
      <if test="productid != null">
        productId,
      </if>
      <if test="purchaseprice != null">
        purchasePrice,
      </if>
      <if test="tagprice != null">
        tagPrice,
      </if>
      <if test="firsthPrice != null">
        firsthPrice,
      </if>
      <if test="secondPrice != null">
        secondPrice,
      </if>
      <if test="thirdPrice != null">
        thirdPrice,
      </if>
      <if test="fourthPrice != null">
        fourthPrice,
      </if>
      <if test="fifthPrice != null">
        fifthPrice,
      </if>
        custPrice,
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="modifyBy != null">
        modify_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="storeid != null">
        #{storeid,jdbcType=VARCHAR},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=VARCHAR},
      </if>
      <if test="purchaseprice != null">
        #{purchaseprice,jdbcType=DECIMAL},
      </if>
      <if test="tagprice != null">
        #{tagprice,jdbcType=DECIMAL},
      </if>
      <if test="firsthPrice != null">
        #{firsthPrice,jdbcType=DECIMAL},
      </if>
      <if test="secondPrice != null">
        #{secondPrice,jdbcType=DECIMAL},
      </if>
      <if test="thirdPrice != null">
        #{thirdPrice,jdbcType=DECIMAL},
      </if>
      <if test="fourthPrice != null">
        #{fourthPrice,jdbcType=DECIMAL},
      </if>
      <if test="fifthPrice != null">
        #{fifthPrice,jdbcType=DECIMAL},
      </if>
      0,
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null">
        #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="costumetrade.order.domain.SsPrice">
    update ss_pprice
    <set>
      <if test="storeid != null">
        storeId = #{storeid,jdbcType=VARCHAR},
      </if>
      <if test="purchaseprice != null">
        purchasePrice = #{purchaseprice,jdbcType=DECIMAL},
      </if>
      <if test="tagprice != null">
        tagPrice = #{tagprice,jdbcType=DECIMAL},
      </if>
      <if test="fifthPrice != null">
        fifthPrice = #{fifthPrice,jdbcType=DECIMAL},
      </if>
      <if test="fourthPrice != null">
        fourthPrice = #{fourthPrice,jdbcType=DECIMAL},
      </if>
      <if test="thirdPrice != null">
        thirdPrice = #{thirdPrice,jdbcType=DECIMAL},
      </if>
      <if test="secondPrice != null">
        secondPrice = #{secondPrice,jdbcType=DECIMAL},
      </if>
      <if test="firsthPrice != null">
        firsthPrice = #{firsthPrice,jdbcType=DECIMAL},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null">
        modify_by = #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="custPrice != null">
        custPrice = #{custPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where 1=1
    <if test="id != null">
    and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="productid != null">
       and productId = #{productid,jdbcType=VARCHAR}
    </if>
    <if test="storeid!=null">
    and storeId = #{storeid,jdbcType=VARCHAR}
    </if>
  </update>
  <update id="updateByPrimaryKey" parameterType="costumetrade.order.domain.SsPrice">
    update ss_pprice
    set storeId = #{storeid,jdbcType=VARCHAR},
      productId = #{productid,jdbcType=VARCHAR},
      purchasePrice = #{purchaseprice,jdbcType=DECIMAL},
      tagPrice = #{tagprice,jdbcType=DECIMAL},
      firsthPrice = #{firsthPrice,jdbcType=DECIMAL},
      secondPrice = #{secondPrice,jdbcType=DECIMAL},
      thirdPrice = #{thirdPrice,jdbcType=DECIMAL},
      fourthPrice = #{fourthPrice,jdbcType=DECIMAL},
      fifthPrice = #{fifthPrice,jdbcType=DECIMAL},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modify_by = #{modifyBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>