<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="costumetrade.order.mapper.SsStoOrderMapper">
  <resultMap id="BaseResultMap" type="costumetrade.order.domain.SsStoOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sellerStoreId" jdbcType="INTEGER" property="sellerstoreid" />
    <result column="buyerStoreId" jdbcType="INTEGER" property="buyerstoreid" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="payOrderNo" jdbcType="VARCHAR" property="payorderno" />
    <result column="refundDate" jdbcType="TIMESTAMP" property="refunddate" />
    <result column="relatedOutTradeNo" jdbcType="VARCHAR" property="relatedouttradeno" />
    <result column="refundStatus" jdbcType="VARCHAR" property="refundstatus" />
    <result column="orderType" jdbcType="VARCHAR" property="ordertype" />
    <result column="orderStatus" jdbcType="INTEGER" property="orderstatus" />
    <result column="shipType" jdbcType="INTEGER" property="shiptype" />
    <result column="shipStatus" jdbcType="INTEGER" property="shipstatus" />
    <result column="shipContact" jdbcType="VARCHAR" property="shipcontact" />
    <result column="shipPhone" jdbcType="VARCHAR" property="shipphone" />
    <result column="shipAddress" jdbcType="VARCHAR" property="shipaddress" />
    <result column="contactStoreId" jdbcType="VARCHAR" property="contactstoreid" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="totalNum" jdbcType="DECIMAL" property="totalnum" />
    <result column="totalAmt" jdbcType="DECIMAL" property="totalamt" />
    <result column="discountRatio" jdbcType="INTEGER" property="discountratio" />
    <result column="discount" jdbcType="DECIMAL" property="discount" />
    <result column="mchange" jdbcType="DECIMAL" property="mchange" />
    <result column="tax" jdbcType="DECIMAL" property="tax" />
    <result column="realcost" jdbcType="DECIMAL" property="realcost" />
    <result column="payCate1" jdbcType="VARCHAR" property="paycate1" />
    <result column="payCost1" jdbcType="DECIMAL" property="paycost1" />
    <result column="payCate2" jdbcType="VARCHAR" property="paycate2" />
    <result column="payCost2" jdbcType="DECIMAL" property="paycost2" />
    <result column="debetAmt" jdbcType="DECIMAL" property="debetamt" />
    <result column="orderTime" jdbcType="TIMESTAMP" property="ordertime" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="createBy" jdbcType="VARCHAR" property="createby" />
    <result column="modifyTime" jdbcType="TIMESTAMP" property="modifytime" />
    <result column="modifyBy" jdbcType="VARCHAR" property="modifyby" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sellerStoreId, buyerStoreId, operator, payOrderNo, refundDate, relatedOutTradeNo, 
    refundStatus, orderType, orderStatus, shipType, shipStatus, shipContact, shipPhone, 
    shipAddress, contactStoreId, remarks, totalNum, totalAmt, discountRatio, discount, 
    mchange, tax, realcost, payCate1, payCost1, payCate2, payCost2, debetAmt, orderTime, 
    createTime, createBy, modifyTime, modifyBy
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ss_stoorder
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByOrderId" parameterType="costumetrade.order.query.OrderDetailQuery" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ss_stoorder_#{corpId,jdbcType=INTEGER}
    where payOrderNo = #{orderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ss_stoorder
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" >
    insert into ss_stoorder_#{sellerStoreId,jdbcType=INTEGER} (sellerStoreId, buyerStoreId, 
      operator, payOrderNo, refundDate, 
      relatedOutTradeNo, refundStatus, orderType, 
      orderStatus, shipType, shipStatus, 
      shipContact, shipPhone, shipAddress, 
      contactStoreId, remarks, totalNum, 
      totalAmt, discountRatio, discount, 
      mchange, tax, realcost, 
      payCate1, payCost1, payCate2, 
      payCost2, debetAmt, orderTime, 
      createTime, createBy, modifyTime, 
      modifyBy)
    values (#{sellerstoreid,jdbcType=INTEGER}, #{buyerstoreid,jdbcType=INTEGER}, 
      #{operator,jdbcType=VARCHAR}, #{payorderno,jdbcType=VARCHAR}, #{refunddate,jdbcType=TIMESTAMP}, 
      #{relatedouttradeno,jdbcType=VARCHAR}, #{refundstatus,jdbcType=VARCHAR}, #{ordertype,jdbcType=VARCHAR}, 
      #{orderstatus,jdbcType=INTEGER}, #{shiptype,jdbcType=INTEGER}, #{shipstatus,jdbcType=INTEGER}, 
      #{shipcontact,jdbcType=VARCHAR}, #{shipphone,jdbcType=VARCHAR}, #{shipaddress,jdbcType=VARCHAR}, 
      #{contactstoreid,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{totalnum,jdbcType=DECIMAL}, 
      #{totalamt,jdbcType=DECIMAL}, #{discountratio,jdbcType=INTEGER}, #{discount,jdbcType=DECIMAL}, 
      #{mchange,jdbcType=DECIMAL}, #{tax,jdbcType=DECIMAL}, #{realcost,jdbcType=DECIMAL}, 
      #{paycate1,jdbcType=VARCHAR}, #{paycost1,jdbcType=DECIMAL}, #{paycate2,jdbcType=VARCHAR}, 
      #{paycost2,jdbcType=DECIMAL}, #{debetamt,jdbcType=DECIMAL}, #{ordertime,jdbcType=TIMESTAMP}, 
      #{createtime,jdbcType=TIMESTAMP}, #{createby,jdbcType=VARCHAR}, #{modifytime,jdbcType=TIMESTAMP}, 
      #{modifyby,jdbcType=VARCHAR})
      
      
    insert into ss_member_stoorder (sellerStoreId, buyerStoreId, 
      operator, payOrderNo, refundDate, 
      relatedOutTradeNo, refundStatus, orderType, 
      orderStatus, shipType, shipStatus, 
      shipContact, shipPhone, shipAddress, 
      contactStoreId, remarks, totalNum, 
      totalAmt, discountRatio, discount, 
      mchange, tax, realcost, 
      payCate1, payCost1, payCate2, 
      payCost2, debetAmt, orderTime, 
      createTime, createBy, modifyTime, 
      modifyBy)
    values (#{sellerstoreid,jdbcType=INTEGER}, #{buyerstoreid,jdbcType=INTEGER}, 
      #{operator,jdbcType=VARCHAR}, #{payorderno,jdbcType=VARCHAR}, #{refunddate,jdbcType=TIMESTAMP}, 
      #{relatedouttradeno,jdbcType=VARCHAR}, #{refundstatus,jdbcType=VARCHAR}, #{ordertype,jdbcType=VARCHAR}, 
      #{orderstatus,jdbcType=INTEGER}, #{shiptype,jdbcType=INTEGER}, #{shipstatus,jdbcType=INTEGER}, 
      #{shipcontact,jdbcType=VARCHAR}, #{shipphone,jdbcType=VARCHAR}, #{shipaddress,jdbcType=VARCHAR}, 
      #{contactstoreid,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{totalnum,jdbcType=DECIMAL}, 
      #{totalamt,jdbcType=DECIMAL}, #{discountratio,jdbcType=INTEGER}, #{discount,jdbcType=DECIMAL}, 
      #{mchange,jdbcType=DECIMAL}, #{tax,jdbcType=DECIMAL}, #{realcost,jdbcType=DECIMAL}, 
      #{paycate1,jdbcType=VARCHAR}, #{paycost1,jdbcType=DECIMAL}, #{paycate2,jdbcType=VARCHAR}, 
      #{paycost2,jdbcType=DECIMAL}, #{debetamt,jdbcType=DECIMAL}, #{ordertime,jdbcType=TIMESTAMP}, 
      #{createtime,jdbcType=TIMESTAMP}, #{createby,jdbcType=VARCHAR}, #{modifytime,jdbcType=TIMESTAMP}, 
      #{modifyby,jdbcType=VARCHAR})
  </insert>
  <insert id="insertStore" >
    insert into ss_stoorder_#{sellerStoreId,jdbcType=INTEGER} (sellerStoreId, buyerStoreId, 
      operator, payOrderNo, refundDate, 
      relatedOutTradeNo, refundStatus, orderType, 
      orderStatus, shipType, shipStatus, 
      shipContact, shipPhone, shipAddress, 
      contactStoreId, remarks, totalNum, 
      totalAmt, discountRatio, discount, 
      mchange, tax, realcost, 
      payCate1, payCost1, payCate2, 
      payCost2, debetAmt, orderTime, 
      createTime, createBy, modifyTime, 
      modifyBy)
    values (#{sellerstoreid,jdbcType=INTEGER}, #{buyerstoreid,jdbcType=INTEGER}, 
      #{operator,jdbcType=VARCHAR}, #{payorderno,jdbcType=VARCHAR}, #{refunddate,jdbcType=TIMESTAMP}, 
      #{relatedouttradeno,jdbcType=VARCHAR}, #{refundstatus,jdbcType=VARCHAR}, #{ordertype,jdbcType=VARCHAR}, 
      #{orderstatus,jdbcType=INTEGER}, #{shiptype,jdbcType=INTEGER}, #{shipstatus,jdbcType=INTEGER}, 
      #{shipcontact,jdbcType=VARCHAR}, #{shipphone,jdbcType=VARCHAR}, #{shipaddress,jdbcType=VARCHAR}, 
      #{contactstoreid,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{totalnum,jdbcType=DECIMAL}, 
      #{totalamt,jdbcType=DECIMAL}, #{discountratio,jdbcType=INTEGER}, #{discount,jdbcType=DECIMAL}, 
      #{mchange,jdbcType=DECIMAL}, #{tax,jdbcType=DECIMAL}, #{realcost,jdbcType=DECIMAL}, 
      #{paycate1,jdbcType=VARCHAR}, #{paycost1,jdbcType=DECIMAL}, #{paycate2,jdbcType=VARCHAR}, 
      #{paycost2,jdbcType=DECIMAL}, #{debetamt,jdbcType=DECIMAL}, #{ordertime,jdbcType=TIMESTAMP}, 
      #{createtime,jdbcType=TIMESTAMP}, #{createby,jdbcType=VARCHAR}, #{modifytime,jdbcType=TIMESTAMP}, 
      #{modifyby,jdbcType=VARCHAR})
      
      
    insert into ss_stoorder_#{buyStoreId,jdbcType=INTEGER} (sellerStoreId, buyerStoreId, 
      operator, payOrderNo, refundDate, 
      relatedOutTradeNo, refundStatus, orderType, 
      orderStatus, shipType, shipStatus, 
      shipContact, shipPhone, shipAddress, 
      contactStoreId, remarks, totalNum, 
      totalAmt, discountRatio, discount, 
      mchange, tax, realcost, 
      payCate1, payCost1, payCate2, 
      payCost2, debetAmt, orderTime, 
      createTime, createBy, modifyTime, 
      modifyBy)
    values (#{sellerstoreid,jdbcType=INTEGER}, #{buyerstoreid,jdbcType=INTEGER}, 
      #{operator,jdbcType=VARCHAR}, #{payorderno,jdbcType=VARCHAR}, #{refunddate,jdbcType=TIMESTAMP}, 
      #{relatedouttradeno,jdbcType=VARCHAR}, #{refundstatus,jdbcType=VARCHAR}, #{ordertype,jdbcType=VARCHAR}, 
      #{orderstatus,jdbcType=INTEGER}, #{shiptype,jdbcType=INTEGER}, #{shipstatus,jdbcType=INTEGER}, 
      #{shipcontact,jdbcType=VARCHAR}, #{shipphone,jdbcType=VARCHAR}, #{shipaddress,jdbcType=VARCHAR}, 
      #{contactstoreid,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{totalnum,jdbcType=DECIMAL}, 
      #{totalamt,jdbcType=DECIMAL}, #{discountratio,jdbcType=INTEGER}, #{discount,jdbcType=DECIMAL}, 
      #{mchange,jdbcType=DECIMAL}, #{tax,jdbcType=DECIMAL}, #{realcost,jdbcType=DECIMAL}, 
      #{paycate1,jdbcType=VARCHAR}, #{paycost1,jdbcType=DECIMAL}, #{paycate2,jdbcType=VARCHAR}, 
      #{paycost2,jdbcType=DECIMAL}, #{debetamt,jdbcType=DECIMAL}, #{ordertime,jdbcType=TIMESTAMP}, 
      #{createtime,jdbcType=TIMESTAMP}, #{createby,jdbcType=VARCHAR}, #{modifytime,jdbcType=TIMESTAMP}, 
      #{modifyby,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="costumetrade.order.domain.SsStoOrder">
    insert into ss_stoorder
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sellerstoreid != null">
        sellerStoreId,
      </if>
      <if test="buyerstoreid != null">
        buyerStoreId,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="payorderno != null">
        payOrderNo,
      </if>
      <if test="refunddate != null">
        refundDate,
      </if>
      <if test="relatedouttradeno != null">
        relatedOutTradeNo,
      </if>
      <if test="refundstatus != null">
        refundStatus,
      </if>
      <if test="ordertype != null">
        orderType,
      </if>
      <if test="orderstatus != null">
        orderStatus,
      </if>
      <if test="shiptype != null">
        shipType,
      </if>
      <if test="shipstatus != null">
        shipStatus,
      </if>
      <if test="shipcontact != null">
        shipContact,
      </if>
      <if test="shipphone != null">
        shipPhone,
      </if>
      <if test="shipaddress != null">
        shipAddress,
      </if>
      <if test="contactstoreid != null">
        contactStoreId,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="totalnum != null">
        totalNum,
      </if>
      <if test="totalamt != null">
        totalAmt,
      </if>
      <if test="discountratio != null">
        discountRatio,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="mchange != null">
        mchange,
      </if>
      <if test="tax != null">
        tax,
      </if>
      <if test="realcost != null">
        realcost,
      </if>
      <if test="paycate1 != null">
        payCate1,
      </if>
      <if test="paycost1 != null">
        payCost1,
      </if>
      <if test="paycate2 != null">
        payCate2,
      </if>
      <if test="paycost2 != null">
        payCost2,
      </if>
      <if test="debetamt != null">
        debetAmt,
      </if>
      <if test="ordertime != null">
        orderTime,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="createby != null">
        createBy,
      </if>
      <if test="modifytime != null">
        modifyTime,
      </if>
      <if test="modifyby != null">
        modifyBy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sellerstoreid != null">
        #{sellerstoreid,jdbcType=INTEGER},
      </if>
      <if test="buyerstoreid != null">
        #{buyerstoreid,jdbcType=INTEGER},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="payorderno != null">
        #{payorderno,jdbcType=VARCHAR},
      </if>
      <if test="refunddate != null">
        #{refunddate,jdbcType=TIMESTAMP},
      </if>
      <if test="relatedouttradeno != null">
        #{relatedouttradeno,jdbcType=VARCHAR},
      </if>
      <if test="refundstatus != null">
        #{refundstatus,jdbcType=VARCHAR},
      </if>
      <if test="ordertype != null">
        #{ordertype,jdbcType=VARCHAR},
      </if>
      <if test="orderstatus != null">
        #{orderstatus,jdbcType=INTEGER},
      </if>
      <if test="shiptype != null">
        #{shiptype,jdbcType=INTEGER},
      </if>
      <if test="shipstatus != null">
        #{shipstatus,jdbcType=INTEGER},
      </if>
      <if test="shipcontact != null">
        #{shipcontact,jdbcType=VARCHAR},
      </if>
      <if test="shipphone != null">
        #{shipphone,jdbcType=VARCHAR},
      </if>
      <if test="shipaddress != null">
        #{shipaddress,jdbcType=VARCHAR},
      </if>
      <if test="contactstoreid != null">
        #{contactstoreid,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="totalnum != null">
        #{totalnum,jdbcType=DECIMAL},
      </if>
      <if test="totalamt != null">
        #{totalamt,jdbcType=DECIMAL},
      </if>
      <if test="discountratio != null">
        #{discountratio,jdbcType=INTEGER},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=DECIMAL},
      </if>
      <if test="mchange != null">
        #{mchange,jdbcType=DECIMAL},
      </if>
      <if test="tax != null">
        #{tax,jdbcType=DECIMAL},
      </if>
      <if test="realcost != null">
        #{realcost,jdbcType=DECIMAL},
      </if>
      <if test="paycate1 != null">
        #{paycate1,jdbcType=VARCHAR},
      </if>
      <if test="paycost1 != null">
        #{paycost1,jdbcType=DECIMAL},
      </if>
      <if test="paycate2 != null">
        #{paycate2,jdbcType=VARCHAR},
      </if>
      <if test="paycost2 != null">
        #{paycost2,jdbcType=DECIMAL},
      </if>
      <if test="debetamt != null">
        #{debetamt,jdbcType=DECIMAL},
      </if>
      <if test="ordertime != null">
        #{ordertime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyby != null">
        #{modifyby,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="costumetrade.order.domain.SsStoOrder">
    update ss_stoorder_#{sellerstoreid,jdbcType=INTEGER}
    <set>
      <if test="sellerstoreid != null">
        sellerStoreId = #{sellerstoreid,jdbcType=INTEGER},
      </if>
      <if test="buyerstoreid != null">
        buyerStoreId = #{buyerstoreid,jdbcType=INTEGER},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="refunddate != null">
        refundDate = #{refunddate,jdbcType=TIMESTAMP},
      </if>
      <if test="relatedouttradeno != null">
        relatedOutTradeNo = #{relatedouttradeno,jdbcType=VARCHAR},
      </if>
      <if test="refundstatus != null">
        refundStatus = #{refundstatus,jdbcType=VARCHAR},
      </if>
      <if test="ordertype != null">
        orderType = #{ordertype,jdbcType=VARCHAR},
      </if>
      <if test="orderstatus != null">
        orderStatus = #{orderstatus,jdbcType=INTEGER},
      </if>
      <if test="shiptype != null">
        shipType = #{shiptype,jdbcType=INTEGER},
      </if>
      <if test="shipstatus != null">
        shipStatus = #{shipstatus,jdbcType=INTEGER},
      </if>
      <if test="shipcontact != null">
        shipContact = #{shipcontact,jdbcType=VARCHAR},
      </if>
      <if test="shipphone != null">
        shipPhone = #{shipphone,jdbcType=VARCHAR},
      </if>
      <if test="shipaddress != null">
        shipAddress = #{shipaddress,jdbcType=VARCHAR},
      </if>
      <if test="contactstoreid != null">
        contactStoreId = #{contactstoreid,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="totalnum != null">
        totalNum = #{totalnum,jdbcType=DECIMAL},
      </if>
      <if test="totalamt != null">
        totalAmt = #{totalamt,jdbcType=DECIMAL},
      </if>
      <if test="discountratio != null">
        discountRatio = #{discountratio,jdbcType=INTEGER},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=DECIMAL},
      </if>
      <if test="mchange != null">
        mchange = #{mchange,jdbcType=DECIMAL},
      </if>
      <if test="tax != null">
        tax = #{tax,jdbcType=DECIMAL},
      </if>
      <if test="realcost != null">
        realcost = #{realcost,jdbcType=DECIMAL},
      </if>
      <if test="paycate1 != null">
        payCate1 = #{paycate1,jdbcType=VARCHAR},
      </if>
      <if test="paycost1 != null">
        payCost1 = #{paycost1,jdbcType=DECIMAL},
      </if>
      <if test="paycate2 != null">
        payCate2 = #{paycate2,jdbcType=VARCHAR},
      </if>
      <if test="paycost2 != null">
        payCost2 = #{paycost2,jdbcType=DECIMAL},
      </if>
      <if test="debetamt != null">
        debetAmt = #{debetamt,jdbcType=DECIMAL},
      </if>
      <if test="ordertime != null">
        orderTime = #{ordertime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        createBy = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null">
        modifyTime = #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyby != null">
        modifyBy = #{modifyby,jdbcType=VARCHAR},
      </if>
    </set>
    where payOrderNo = #{payorderno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="costumetrade.order.domain.SsStoOrder">
    update ss_stoorder
    set sellerStoreId = #{sellerstoreid,jdbcType=INTEGER},
      buyerStoreId = #{buyerstoreid,jdbcType=INTEGER},
      operator = #{operator,jdbcType=VARCHAR},
      payOrderNo = #{payorderno,jdbcType=VARCHAR},
      refundDate = #{refunddate,jdbcType=TIMESTAMP},
      relatedOutTradeNo = #{relatedouttradeno,jdbcType=VARCHAR},
      refundStatus = #{refundstatus,jdbcType=VARCHAR},
      orderType = #{ordertype,jdbcType=VARCHAR},
      orderStatus = #{orderstatus,jdbcType=INTEGER},
      shipType = #{shiptype,jdbcType=INTEGER},
      shipStatus = #{shipstatus,jdbcType=INTEGER},
      shipContact = #{shipcontact,jdbcType=VARCHAR},
      shipPhone = #{shipphone,jdbcType=VARCHAR},
      shipAddress = #{shipaddress,jdbcType=VARCHAR},
      contactStoreId = #{contactstoreid,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      totalNum = #{totalnum,jdbcType=DECIMAL},
      totalAmt = #{totalamt,jdbcType=DECIMAL},
      discountRatio = #{discountratio,jdbcType=INTEGER},
      discount = #{discount,jdbcType=DECIMAL},
      mchange = #{mchange,jdbcType=DECIMAL},
      tax = #{tax,jdbcType=DECIMAL},
      realcost = #{realcost,jdbcType=DECIMAL},
      payCate1 = #{paycate1,jdbcType=VARCHAR},
      payCost1 = #{paycost1,jdbcType=DECIMAL},
      payCate2 = #{paycate2,jdbcType=VARCHAR},
      payCost2 = #{paycost2,jdbcType=DECIMAL},
      debetAmt = #{debetamt,jdbcType=DECIMAL},
      orderTime = #{ordertime,jdbcType=TIMESTAMP},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      createBy = #{createby,jdbcType=VARCHAR},
      modifyTime = #{modifytime,jdbcType=TIMESTAMP},
      modifyBy = #{modifyby,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>