<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="costumetrade.order.mapper.SsStockMapper">
  <resultMap id="BaseResultMap" type="costumetrade.order.domain.SsStock">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="storeId" jdbcType="INTEGER" property="storeid" />
    <result column="productId" jdbcType="INTEGER" property="productid" />
    <result column="productColor" jdbcType="VARCHAR" property="productcolor" />
    <result column="productSize" jdbcType="VARCHAR" property="productsize" />
    <result column="stockNum" jdbcType="DOUBLE" property="stocknum" />
    <result column="stockAmt" jdbcType="DECIMAL" property="stockamt" />
    <result column="modifyTime" jdbcType="TIMESTAMP" property="modifytime" />
    <result column="modifyBy" jdbcType="VARCHAR" property="modifyby" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="createBy" jdbcType="VARCHAR" property="createby" />
  </resultMap>
  <sql id="Base_Column_List">
    id, storeId, productId, productColor, productSize, stockNum, stockAmt, modifyTime, 
    modifyBy, createTime, createBy
  </sql>
  <select id="select" parameterType="costumetrade.order.domain.SsStock" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ss_stock_#{storeid,jdbcType=INTEGER}
    where 1=1
       <if test="storeid != null">
       and storeId = #{storeid,jdbcType=INTEGER},
      </if>
      <if test="productid != null">
       and productId = #{productid,jdbcType=VARCHAR},
      </if>
      <if test="productcolor != null">
       and productColor =  #{productcolor,jdbcType=VARCHAR},
      </if>
      <if test="productsize != null">
       and productSize = #{productsize,jdbcType=VARCHAR},
      </if>
      <if test="stocknum != null">
       and stockNum &gt;= #{stocknum,jdbcType=DOUBLE},
      </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ss_stock
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="costumetrade.order.domain.SsStock">
    insert into ss_stock (id, storeId, productId, 
      productColor, productSize, stockNum, 
      stockAmt, modifyTime, modifyBy, 
      createTime, createBy)
    values (#{id,jdbcType=INTEGER}, #{storeid,jdbcType=INTEGER}, #{productid,jdbcType=INTEGER}, 
      #{productcolor,jdbcType=VARCHAR}, #{productsize,jdbcType=VARCHAR}, #{stocknum,jdbcType=DOUBLE}, 
      #{stockamt,jdbcType=DECIMAL}, #{modifytime,jdbcType=TIMESTAMP}, #{modifyby,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{createby,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="costumetrade.order.domain.SsStock">
    insert into ss_stock_#{storeid,jdbcType=INTEGER}
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="storeid != null">
        storeId,
      </if>
      <if test="productid != null">
        productId,
      </if>
      <if test="productcolor != null">
        productColor,
      </if>
      <if test="productsize != null">
        productSize,
      </if>
      <if test="stocknum != null">
        stockNum,
      </if>
      <if test="stockamt != null">
        stockAmt,
      </if>
      <if test="modifytime != null">
        modifyTime,
      </if>
      <if test="modifyby != null">
        modifyBy,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="createby != null">
        createBy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="storeid != null">
        #{storeid,jdbcType=INTEGER},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="productcolor != null">
        #{productcolor,jdbcType=VARCHAR},
      </if>
      <if test="productsize != null">
        #{productsize,jdbcType=VARCHAR},
      </if>
      <if test="stocknum != null">
        #{stocknum,jdbcType=DOUBLE},
      </if>
      <if test="stockamt != null">
        #{stockamt,jdbcType=DECIMAL},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyby != null">
        #{modifyby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="costumetrade.order.domain.SsStock">
    update ss_stock_#{storeid,jdbcType=INTEGER}
    <set>
      <if test="stocknum != null">
        stockNum = #{stocknum,jdbcType=DOUBLE},
      </if>
      <if test="stockamt != null">
        stockAmt = #{stockamt,jdbcType=DECIMAL},
      </if>
      <if test="modifytime != null">
        modifyTime = #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyby != null">
        modifyBy = #{modifyby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        createBy = #{createby,jdbcType=VARCHAR},
      </if>
    </set>
    where 1=1
       <if test="storeid != null">
       and storeId = #{storeid,jdbcType=INTEGER},
      </if>
      <if test="productid != null">
       and productId = #{productid,jdbcType=VARCHAR},
      </if>
      <if test="productcolor != null">
       and productColor =  #{productcolor,jdbcType=VARCHAR},
      </if>
      <if test="productsize != null">
       and productSize = #{productsize,jdbcType=VARCHAR},
      </if>
      
  </update>
  <update id="updateByPrimaryKey" parameterType="costumetrade.order.domain.SsStock">
    update ss_stock
    set storeId = #{storeid,jdbcType=INTEGER},
      productId = #{productid,jdbcType=INTEGER},
      productColor = #{productcolor,jdbcType=VARCHAR},
      productSize = #{productsize,jdbcType=VARCHAR},
      stockNum = #{stocknum,jdbcType=DOUBLE},
      stockAmt = #{stockamt,jdbcType=DECIMAL},
      modifyTime = #{modifytime,jdbcType=TIMESTAMP},
      modifyBy = #{modifyby,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      createBy = #{createby,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>