<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="costumetrade.order.mapper.SsStoDetailMapper">
	<resultMap id="BaseResultMap" type="costumetrade.order.domain.SsStoDetail">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="orderId" jdbcType="VARCHAR" property="orderid" />
		<result column="storeId" jdbcType="VARCHAR" property="storeid" />
		<result column="handtag" jdbcType="INTEGER" property="handtag" />
		<result column="productId" jdbcType="VARCHAR" property="productid" />
		<result column="productName" jdbcType="VARCHAR" property="productname" />
		<result column="productUnit" jdbcType="VARCHAR" property="productunit" />
		<result column="productColor" jdbcType="VARCHAR" property="productcolor" />
		<result column="productSize" jdbcType="VARCHAR" property="productsize" />
		<result column="count" jdbcType="DECIMAL" property="count" />
		<result column="average" jdbcType="DECIMAL" property="average" />
		<result column="price" jdbcType="DECIMAL" property="price" />
		<result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
		<result column="createBy" jdbcType="VARCHAR" property="createby" />
		<result column="modifyTime" jdbcType="TIMESTAMP" property="modifytime" />
		<result column="modifyBy" jdbcType="VARCHAR" property="modifyby" />
	</resultMap>
	<resultMap type="costumetrade.order.query.ProductQuery" id="ProductsResult">
		<result column="id" jdbcType="VARCHAR" property="id" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="image" jdbcType="VARCHAR" property="image" />
		<result column="count" jdbcType="DECIMAL" property="count" />
		<result column="colors" jdbcType="VARCHAR" property="colors" />
		<result column="sizes" jdbcType="VARCHAR" property="sizes" />
		<result column="unit" jdbcType="VARCHAR" property="unit" />
	</resultMap>
	<sql id="Base_Column_List">
		id, orderId, storeId, handtag, productId, productName, productUnit,
		productColor,
		productSize, count, price, createTime, createBy, modifyTime, modifyBy
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from ss_stodetail
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByOrderId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from ss_stodetail
		where orderId = #{orderNo,jdbcType=VARCHAR}
		<if test="storeId !=null">
		and storeId = #{storeId,jdbcType=VARCHAR}
		</if>
		
	</select>
	<select id="avePriceByProducts" parameterType="costumetrade.order.domain.SsStoOrder" resultMap="BaseResultMap">
		SELECT
		SUM(detail.price*detail.count)/SUM(detail.count) as average,
		detail.productId,
		detail.productName AS productName
		FROM
		ss_stodetail detail
		LEFT JOIN
		ss_stoorder sto
		ON
		sto.payOrderNo = detail.orderId
		WHERE 1=1
		and detail.productId is not null
		<if test="buyerstoreid!=null">
		AND sto.buyerStoreId=#{buyerstoreid}
		</if>
		<if test="idArray!=null">
		AND detail.productId IN <foreach collection="idArray" index="index" item="item" separator="," open="(" close=")">
		#{item}
		</foreach>
		</if>
		GROUP BY productId
	
	</select>
	<select id="selectByOrderIdMember" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from ss_member_stodetail
		where orderId = #{orderNo,jdbcType=VARCHAR}
	</select>
	<select id="selectProductsByClient" resultMap="ProductsResult">
		SELECT DISTINCT
		detail.productId as id,
		detail.productColor as colors,
		detail.count,
		detail.price,
		detail.productName as name,
		detail.productSize as sizes,
		detail.productUnit as unit,
		(CASE WHEN product.image IS NOT NULL THEN product.image
			WHEN product.image1 IS NOT NULL THEN product.image1
			WHEN product.image2 IS NOT NULL THEN product.image2
			WHEN product.image3 IS NOT NULL THEN product.image3
			WHEN product.image4 IS NOT NULL THEN product.image4 ELSE product.image END) as image
		FROM
		ss_stodetail detail
		LEFT JOIN ss_stoorder sto
		ON sto.payOrderNo = detail.orderId
		LEFT JOIN sp_product product 
		ON product.id = detail.productId and product.storeId = detail.storeId
		WHERE 1 = 1
		AND sto.buyerStoreId = #{query.buyerstoreid}
		AND sto.sellerStoreId = #{query.sellerstoreid}
		
		<if test="query.storeId !=null">
		<!-- and storeId = #{query.storeId,jdbcType=VARCHAR} -->
		</if>
		ORDER BY detail.createTime DESC
		<if test="page != null">
		LIMIT #{page.startRow},#{page.pageSize}
		</if>
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from ss_stodetail
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="costumetrade.order.domain.SsStoDetail">
		insert into ss_stodetail (id, orderId, storeId,
		handtag, productId, productName,
		productUnit, productColor, productSize,
		count, price, createTime,
		createBy, modifyTime, modifyBy
		)
		values (#{id,jdbcType=INTEGER}, #{orderid,jdbcType=VARCHAR},
		#{storeid,jdbcType=VARCHAR},
		#{handtag,jdbcType=INTEGER}, #{productid,jdbcType=VARCHAR}, #{productname,jdbcType=VARCHAR},
		#{productunit,jdbcType=VARCHAR}, #{productcolor,jdbcType=VARCHAR},
		#{productsize,jdbcType=VARCHAR},
		#{count,jdbcType=DECIMAL}, #{price,jdbcType=DECIMAL}, #{createtime,jdbcType=TIMESTAMP},
		#{createby,jdbcType=VARCHAR}, #{modifytime,jdbcType=TIMESTAMP},
		#{modifyby,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="saveDetail">
		insert into ss_stodetail (orderId,
		storeId,
		handtag, productId, productName,
		productUnit, productColor, productSize,
		count, price, createTime,
		createBy, modifyTime, modifyBy
		)
		values
		<foreach collection="detail" item="item" index="index"
			separator=",">( #{item.orderid,jdbcType=VARCHAR},
			#{item.storeid,jdbcType=VARCHAR},
			#{item.handtag,jdbcType=INTEGER}, #{item.productid,jdbcType=VARCHAR},
			#{item.productname,jdbcType=VARCHAR},
			#{item.productunit,jdbcType=VARCHAR},
			#{item.productcolor,jdbcType=VARCHAR},
			#{item.productsize,jdbcType=VARCHAR},
			#{item.count,jdbcType=DECIMAL}, #{item.price,jdbcType=DECIMAL},
			#{item.createtime,jdbcType=TIMESTAMP},
			#{item.createby,jdbcType=VARCHAR},
			#{item.modifytime,jdbcType=TIMESTAMP},
			#{item.modifyby,jdbcType=VARCHAR}
			)
		</foreach>
		;

		insert into ss_member_stodetail (orderId, storeId,
		handtag, productId, productName,
		productUnit, productColor, productSize,
		count, price, createTime,
		createBy, modifyTime, modifyBy
		)
		values
		<foreach collection="detail" item="item" index="index"
			separator=",">( #{item.orderid,jdbcType=VARCHAR},
			#{sellerStoreId,jdbcType=VARCHAR},
			#{item.handtag,jdbcType=INTEGER}, #{item.productid,jdbcType=VARCHAR},
			#{item.productname,jdbcType=VARCHAR},
			#{item.productunit,jdbcType=VARCHAR},
			#{item.productcolor,jdbcType=VARCHAR},
			#{item.productsize,jdbcType=VARCHAR},
			#{item.count,jdbcType=DECIMAL}, #{item.price,jdbcType=DECIMAL},
			#{item.createtime,jdbcType=TIMESTAMP},
			#{item.createby,jdbcType=VARCHAR},
			#{item.modifytime,jdbcType=TIMESTAMP},
			#{item.modifyby,jdbcType=VARCHAR}
			)
		</foreach>
		;

	</insert>

	<insert id="saveDetailStore">

		insert into ss_stodetail (orderId,
		storeId,
		handtag, productId, productName,
		productUnit, productColor, productSize,
		count, price, createTime,
		createBy, modifyTime, modifyBy
		)
		values
		<foreach collection="detail" item="item" index="index"
			separator=",">( #{item.orderid,jdbcType=VARCHAR},
			#{storeId,jdbcType=VARCHAR},
			#{item.handtag,jdbcType=INTEGER}, #{item.productid,jdbcType=VARCHAR},
			#{item.productname,jdbcType=VARCHAR},
			#{item.productunit,jdbcType=VARCHAR},
			#{item.productcolor,jdbcType=VARCHAR},
			#{item.productsize,jdbcType=VARCHAR},
			#{item.count,jdbcType=DECIMAL}, #{item.price,jdbcType=DECIMAL},
			#{item.createtime,jdbcType=TIMESTAMP},
			#{item.createby,jdbcType=VARCHAR},
			#{item.modifytime,jdbcType=TIMESTAMP},
			#{item.modifyby,jdbcType=VARCHAR}
			)
		</foreach>

	</insert>
	<insert id="insertSelective" parameterType="costumetrade.order.domain.SsStoDetail">
		insert into ss_stodetail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="orderid != null">
				orderId,
			</if>
			<if test="storeid != null">
				storeId,
			</if>
			<if test="handtag != null">
				handtag,
			</if>
			<if test="productid != null">
				productId,
			</if>
			<if test="productname != null">
				productName,
			</if>
			<if test="productunit != null">
				productUnit,
			</if>
			<if test="productcolor != null">
				productColor,
			</if>
			<if test="productsize != null">
				productSize,
			</if>
			<if test="count != null">
				count,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="createtime != null">
				createTime,
			</if>
			<if test="createby != null">
				createBy,
			</if>
			<if test="modifytime != null">
				modifyTime,
			</if>
			<if test="modifyby != null">
				modifyBy,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="orderid != null">
				#{orderid,jdbcType=VARCHAR},
			</if>
			<if test="storeid != null">
				#{storeid,jdbcType=VARCHAR},
			</if>
			<if test="handtag != null">
				#{handtag,jdbcType=INTEGER},
			</if>
			<if test="productid != null">
				#{productid,jdbcType=VARCHAR},
			</if>
			<if test="productname != null">
				#{productname,jdbcType=VARCHAR},
			</if>
			<if test="productunit != null">
				#{productunit,jdbcType=VARCHAR},
			</if>
			<if test="productcolor != null">
				#{productcolor,jdbcType=VARCHAR},
			</if>
			<if test="productsize != null">
				#{productsize,jdbcType=VARCHAR},
			</if>
			<if test="count != null">
				#{count,jdbcType=DECIMAL},
			</if>
			<if test="price != null">
				#{price,jdbcType=DECIMAL},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="createby != null">
				#{createby,jdbcType=VARCHAR},
			</if>
			<if test="modifytime != null">
				#{modifytime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyby != null">
				#{modifyby,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelectiveStore" >
	   <foreach collection="details" item="item" index="index" separator=";">
		update ss_stodetail
		<set>
			<if test="item.orderid != null">
				orderId = #{item.orderid,jdbcType=VARCHAR},
			</if>
			<if test="item.storeid != null">
				storeId = #{item.storeid,jdbcType=VARCHAR},
			</if>
			<if test="item.handtag != null">
				handtag = #{item.handtag,jdbcType=INTEGER},
			</if>
			<if test="item.productid != null">
				productId = #{item.productid,jdbcType=VARCHAR},
			</if>
			<if test="item.productname != null">
				productName = #{item.productname,jdbcType=VARCHAR},
			</if>
			<if test="item.productunit != null">
				productUnit = #{item.productunit,jdbcType=VARCHAR},
			</if>
			<if test="item.productcolor != null">
				productColor = #{item.productcolor,jdbcType=VARCHAR},
			</if>
			<if test="item.productsize != null">
				productSize = #{item.productsize,jdbcType=VARCHAR},
			</if>
			<if test="item.price != null">
				price = #{item.price,jdbcType=DECIMAL},
			</if>
				modifyTime = NOW(),
			<if test="item.modifyby != null">
				modifyBy = #{item.modifyby,jdbcType=VARCHAR},
			</if>
		</set>
			where 1=1
			<if test="item.orderid != null">
			and	orderId = #{item.orderid,jdbcType=VARCHAR}
			</if>
			<if test="item.storeid != null">
			and	storeId = #{item.storeid,jdbcType=VARCHAR}
			</if>
			<if test="item.handtag != null">
			and	handtag = #{item.handtag,jdbcType=INTEGER}
			</if>
			<if test="item.productid != null">
			and	productId = #{item.productid,jdbcType=VARCHAR}
			</if>
			<if test="item.productname != null">
			and	productName = #{item.productname,jdbcType=VARCHAR}
			</if>
			<if test="item.productunit != null">
			and	productUnit = #{item.productunit,jdbcType=VARCHAR}
			</if>
			<if test="item.productcolor != null">
			and	productColor = #{item.productcolor,jdbcType=VARCHAR}
			</if>
			<if test="item.productsize != null">
			and	productSize = #{item.productsize,jdbcType=VARCHAR}
			</if>
		</foreach>
	</update>
	<update id="updateByPrimaryKeySelectiveMember">
		<foreach collection="details" item="item" index="index" separator=";">
		update ss_member_stodetail
		<set>
			<if test="item.orderid != null">
				orderId = #{item.orderid,jdbcType=VARCHAR},
			</if>
			<if test="item.storeid != null">
				storeId = #{item.storeid,jdbcType=VARCHAR},
			</if>
			<if test="item.handtag != null">
				handtag = #{item.handtag,jdbcType=INTEGER},
			</if>
			<if test="item.productid != null">
				productId = #{item.productid,jdbcType=VARCHAR},
			</if>
			<if test="item.productname != null">
				productName = #{item.productname,jdbcType=VARCHAR},
			</if>
			<if test="item.productunit != null">
				productUnit = #{item.productunit,jdbcType=VARCHAR},
			</if>
			<if test="item.productcolor != null">
				productColor = #{item.productcolor,jdbcType=VARCHAR},
			</if>
			<if test="item.productsize != null">
				productSize = #{item.productsize,jdbcType=VARCHAR},
			</if>
			<if test="item.price != null">
				price = #{price,jdbcType=DECIMAL},
			</if>
				modifyTime = NOW(),
			<if test="item.modifyby != null">
				modifyBy = #{item.modifyby,jdbcType=VARCHAR},
			</if>
		</set>
		where 1=1
			<if test="item.orderid != null">
			and	orderId = #{item.orderid,jdbcType=VARCHAR}
			</if>
			<if test="item.storeid != null">
			and	storeId = #{item.storeid,jdbcType=VARCHAR}
			</if>
			<if test="item.handtag != null">
			and	handtag = #{item.handtag,jdbcType=INTEGER}
			</if>
			<if test="item.productid != null">
			and	productId = #{item.productid,jdbcType=VARCHAR}
			</if>
			<if test="item.productname != null">
			and	productName = #{item.productname,jdbcType=VARCHAR}
			</if>
			<if test="item.productunit != null">
			and	productUnit = #{item.productunit,jdbcType=VARCHAR}
			</if>
			<if test="item.productcolor != null">
			and	productColor = #{item.productcolor,jdbcType=VARCHAR}
			</if>
			<if test="item.productsize != null">
			and	productSize = #{item.productsize,jdbcType=VARCHAR}
			</if>
		</foreach>
	</update>
	<update id="updateByPrimaryKey" parameterType="costumetrade.order.domain.SsStoDetail">
		update ss_stodetail
		set orderId = #{orderid,jdbcType=VARCHAR},
		storeId = #{storeid,jdbcType=VARCHAR},
		handtag = #{handtag,jdbcType=INTEGER},
		productId = #{productid,jdbcType=VARCHAR},
		productName = #{productname,jdbcType=VARCHAR},
		productUnit = #{productunit,jdbcType=VARCHAR},
		productColor = #{productcolor,jdbcType=VARCHAR},
		productSize = #{productsize,jdbcType=VARCHAR},
		count = #{count,jdbcType=DECIMAL},
		price = #{price,jdbcType=DECIMAL},
		createTime = #{createtime,jdbcType=TIMESTAMP},
		createBy = #{createby,jdbcType=VARCHAR},
		modifyTime = #{modifytime,jdbcType=TIMESTAMP},
		modifyBy = #{modifyby,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>

</mapper>